/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

.dhxwins_vp_dhx_terrace {
	overflow: hidden;
	position: relative;
	cursor: default;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active {
	position: absolute;
	overflow: hidden;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 6px #a0a0a0;
	border-radius: 3px;
	background: #ffffff;
	cursor: inherit;
}
.dhxwins_vp_dhx_terrace div.dhxwin_inactive {
	position: absolute;
	overflow: hidden;
	border: 1px solid #cccccc;
	box-shadow: 0px 0px 6px #c0c0c0;
	border-radius: 3px;
	background: #ffffff;
	cursor: inherit;
}
.dhxwins_vp_dhx_terrace div.dhxwin_brd {
	position: absolute;
	border-left: 5px solid #ffffff;
	border-right: 5px solid #ffffff;
	border-bottom: 5px solid #ffffff;
	background: #ffffff;
	z-index: 0;
}
.dhxwins_vp_dhx_terrace div.dhxwin_brd.dhxwin_hdr_hidden {
	border-top: 5px solid #ffffff;
}
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhxwin_brd {
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.dhxwins_vp_dhx_terrace div.dhxwin_fr_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #ffffff;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxwins_vp_dhx_terrace div.dhxwin_fr_cover .dhxwin_fr_cover_inner {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhxwin_fr_cover {
	display: none;
}
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhxwin_fr_cover {
	z-index: 4;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhxwin_fr_cover.dhxwin_fr_cover_dnd,
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhxwin_fr_cover.dhxwin_fr_cover_resize {
	display: block;
}
.dhxwins_vp_dhx_terrace iframe.dhxwin_main_fr_cover {
	position: absolute;
	background-color: #ffffff;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr {
	position: relative;
	height: 36px;
	line-height: 37px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #f5f5f5;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	cursor: inherit;
	overflow: hidden;
	z-index: 3;
	-ms-touch-action: none;
}
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhxwin_hdr {
	color: #404040;
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr.dhxwin_hdr_parked {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr.dhxwin_hdr_hidden {
	visibility: hidden;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_icon {
	position: absolute;
	left: 11px;
	top: 10px;
	width: 23px;
	height: 18px;
	cursor: default;
	overflow: hidden;
	background-image: url("../imgs/dhxwins_terrace/dhxwins_icon.gif");
	background-position: left center;
	background-repeat: no-repeat;
	cursor: inherit;
	z-index: 2;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhxwin_hdr div.dhxwin_icon {
	opacity: 0.6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_text {
	position: relative;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: inherit;
	z-index: 1;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_text div.dhxwin_text_inside {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 18px;
	cursor: default;
	overflow: hidden;
	cursor: inherit;
	z-index: 2;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhxwin_hdr div.dhxwin_btns {
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button,
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis {
	position: relative;
	float: left;
	width: 15px;
	height: 15px;
	margin-left: 2px;
	margin-top: 2px;
	border-radius: 2px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-image: url("../imgs/dhxwins_terrace/dhxwins_buttons.gif");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button:hover {
	background-color: #ebebeb;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_close {
	background-position: -15px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_close_dis {
	background-position: -15px -15px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_minmax {
	background-position: -30px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_minmax_dis {
	background-position: -30px -15px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_minmaxed {
	background-position: -45px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_minmaxed_dis {
	background-position: -45px -15px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_park {
	background-position: -60px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_park_dis {
	background-position: -60px -15px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_stick {
	background-position: -75px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_stick_dis {
	background-position: -75px -15px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_sticked {
	background-position: -90px 0px;
	z-index: 1;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_sticked_dis {
	background-position: -90px -15px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_help {
	background-position: -105px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_help_dis {
	background-position: -105px -15px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button.dhxwin_button_dock {
	background-position: -120px 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_hdr div.dhxwin_btns div.dhxwin_button_dis.dhxwin_button_dock_dis {
	background-position: -120px -15px;
}
.dhxwins_vp_dhx_terrace.dhxwins_vp_dnd {
	cursor: move !important;
}
.dhxwins_vp_dhx_terrace div.dhxwin_resize {
	position: absolute;
	background-color: #9c9c9c;
	opacity: 0.2;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}
.dhxwins_vp_dhx_terrace iframe.dhxwin_resize_fr_cover {
	position: absolute;
	background-color: #ffffff;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxwins_vp_dhx_terrace div.dhxwins_mcover {
	position: absolute;
	background-color: #ededed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.53;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=53);
}
.dhxwins_vp_dhx_terrace iframe.dhxwins_mcover {
	position: absolute;
	background-color: #ffffff;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins {
	position: absolute;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	visibility: visible;
	z-index: 1;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_cover,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_cont_wins,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_cont_wins {
	position: absolute;
	border: 5px solid #ffffff;
	border-top: 10px solid #ffffff;
	background-color: #ffffff;
	overflow: hidden;
	z-index: 0;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_cont_wins.dhx_cell_cont_no_borders,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_cont_wins.dhx_cell_cont_no_borders {
	border: 0px solid #ffffff !important;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_menu_def,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	height: 42px;
	margin: 10px 5px 0px 5px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_toolbar_def,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_toolbar_def {
	position: relative;
	overflow: hidden;
	padding: 10px 5px 0px 5px;
	border-width: 0px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_ribbon_def,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_ribbon_def {
	padding-top: 4px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar {
	border: 0px solid white;
	width: auto;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhxrb_with_tabbar.dhxtabbar_base_dhx_terrace,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhxrb_with_tabbar.dhxtabbar_base_dhx_terrace {
	margin-left: 4px;
	margin-top: 4px;
	margin-right: 4px;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_statusbar_def,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	margin: 5px 5px 5px 5px;
	padding: 5px 10px;
	background-color: #f5f5f5;
	white-space: nowrap;
	overflow: hidden;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_progress_bar,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	z-index: 1;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_progress_img,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/dhxwins_terrace/dhxwins_progress.gif");
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
.dhxwins_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
div.dhxwins_vp_dhx_terrace.dhxwins_vp_fs {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
