/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhxtabbar_base_dhx_skyblue {
	background-color: #ebebeb;
	position: relative;
	cursor: default;
}
.dhxtabbar_base_dhx_skyblue .dhxtabbar_cont {
	position: absolute;
	*overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs {
	position: absolute;
	bottom: auto;
	height: 28px;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #a4bed4;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	z-index: 2;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs {
	top: auto;
	bottom: 0px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base {
	position: absolute;
	top: 0px;
	height: 28px;
	overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right {
	position: absolute;
	width: 5000px;
	height: 28px;
	margin: 0px 1px;
	top: 0px;
	-webkit-transform: translate3d(0px,0px,0px);
	-moz-transform: translate3d(0px,0px,0px);
	-ms-transform: translate3d(0px,0px,0px);
	-o-transform: translate3d(0px,0px,0px);
	transform: translate3d(0px,0px,0px);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left.safari_517_fix,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left.safari_517_fix div.dhxtabbar_tab,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right.safari_517_fix,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right.safari_517_fix div.dhxtabbar_tab {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-o-transform: none !important;
	transform: none !important;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_line {
	position: absolute;
	left: 0px;
	bottom: 0px;
	top: none;
	width: 100%;
	height: 4px;
	overflow: hidden;
	z-index: 2;
	border-top: 1px solid #a4bed4;
	border-bottom: 0px solid white;
	background-color: #d3e7ff;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 15px;
	height: 100%;
	background-color: #fffeff;
	background: linear-gradient(#fffeff,#d3e7ff);
	background: -webkit-linear-gradient(#fffeff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fffeff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	z-index: 4;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left.dhxtabbar_tabs_ar_hidden {
	display: none;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left div.dhxtabbar_arrow_img {
	position: relative;
	height: 100%;
	border-right: 1px solid #a4bed4;
	background-image: url("../imgs/dhxtabbar_skyblue/dhxtabbar_arrows.gif");
	background-position: 0px 11px;
	background-repeat: no-repeat;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 15px;
	height: 100%;
	background-color: #fffeff;
	background: linear-gradient(#fffeff,#d3e7ff);
	background: -webkit-linear-gradient(#fffeff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fffeff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	z-index: 4;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right.dhxtabbar_tabs_ar_hidden {
	display: none;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right div.dhxtabbar_arrow_img {
	position: relative;
	height: 100%;
	border-left: 1px solid #a4bed4;
	background-image: url("../imgs/dhxtabbar_skyblue/dhxtabbar_arrows.gif");
	background-position: -14px 11px;
	background-repeat: no-repeat;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar {
	position: absolute;
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
	background-image: none !important;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_cont_tabbar {
	position: absolute;
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-bottom: 1px solid #a4bed4;
	border-top: 0px solid white;
	overflow: hidden;
	z-index: 0;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_cont_tabbar.dhx_cell_cont_no_borders {
	border: 0px solid white !important;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab {
	position: relative;
	height: 24px;
	background-color: white;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: #34404b;
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	z-index: 1;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_cont_left div.dhxtabbar_tab {
	float: left;
	margin-left: -1px;
	margin-right: 0px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tabs_cont_right div.dhxtabbar_tab {
	float: right;
	margin-left: 0px;
	margin-right: -1px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis {
	background-color: #ecf5ff;
	background: linear-gradient(#ecf5ff,#d3e7ff);
	background: -webkit-linear-gradient(#ecf5ff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#ecf5ff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis {
	z-index: 3;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_hidden {
	border: none;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text {
	position: relative;
	height: 23px;
	line-height: 22px;
	vertical-align: middle;
	top: 0px;
	border-top: 1px solid #ffffff;
	color: #34404b;
	text-align: center;
	overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text.dhxtabbar_tab_text_close {
	padding-right: 9px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_text,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_text {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_text {
	color: #34404b;
	font-weight: bold;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_text {
	font-weight: bold;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis div.dhxtabbar_tab_text,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_text {
	color: #999999;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_close {
	position: absolute;
	top: 6px;
	right: 5px;
	width: 11px;
	height: 11px;
	border: 1px solid #b4d3ff;
	border-radius: 2px;
	background-image: url("../imgs/dhxtabbar_skyblue/dhxtabbar_button_close.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	line-height: 1px;
	overflow: hidden;
	z-index: 1;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_close {
	border: 1px solid #a4bed4;
	background-position: -11px 0px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis div.dhxtabbar_tab_close,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_close {
	border: 1px solid #a4bed4;
	background-position: -22px 0px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_cont_tabbar {
	border-top: 1px solid #a4bed4;
	border-bottom: 0px solid white;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_toolbar_dhx_skyblue {
	border-bottom-width: 0px;
	border-top-width: 1px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab {
	margin-top: 4px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv,
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis {
	z-index: 3;
	font-weight: bold;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text {
	top: 0px;
	border-top: 0px solid white;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_close {
	top: auto;
	bottom: 5px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_line {
	top: 0px;
	bottom: none;
	border-bottom: 1px solid #a4bed4;
	border-top: 0px solid white;
	background-color: #e2efff;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-bottom: 1px solid #a4bed4;
	border-top: 0px solid white;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_menu_def div.dhtmlxMenu_dhx_skyblue_Middle {
	padding: 0px 2px;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_menu_no_borders div.dhtmlxMenu_dhx_skyblue_Middle {
	padding: 0px 2px;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_menu_def {
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-top: 1px solid #a4bed4;
	border-bottom: 0px solid white;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_toolbar_dhx_skyblue {
	border-bottom-width: 1px;
	border-top-width: 0px;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	border-top: 0px solid white;
	width: auto;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhxrb_with_tabbar.dhxtabbar_base_dhx_skyblue {
	margin-top: -1px;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	background-color: #ddecff;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 21px;
	line-height: 21px;
	border-top: 0px solid white;
	border-bottom: 1px solid #a4bed4;
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	white-space: nowrap;
	overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	border-top: 1px solid #a4bed4;
	border-bottom: 0px solid white;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	z-index: 1;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/dhxtabbar_skyblue/dhxtabbar_cell_progress.gif");
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_progress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 3;
	opacity: 0.55;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxtabbar_skyblue/dhxtabbar_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_hdr {
	position: relative;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_ftr {
	position: absolute;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_menu {
	position: relative;
	overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_toolbar {
	position: relative;
	background-color: #ebebeb;
	padding-bottom: 4px;
	overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_ribbon {
	padding-bottom: 4px;
	position: relative;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_ribbon div.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	width: auto;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_statusbar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #ebebeb;
	overflow: hidden;
}
.dhxtabbar_base_dhx_skyblue div.dhxcelltop_statusbar div.dhxcont_statusbar {
	position: relative;
	margin-top: 4px;
	border: 1px solid #a4bed4;
	background-color: #ddecff;
	padding: 7px 6px;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
span.dhxtabbar_tabs_text_test_dhx_skyblue {
	position: absolute;
	visibility: hidden;
	right: 0px;
	top: 0px;
	font-weight: bold;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhxtabbar_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
