/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

.dhxtabbar_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
.dhxtabbar_fullscreen {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
.dhxtabbar_base_dhx_terrace {
	position: relative;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_cont {
	position: absolute;
	*overflow: hidden;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs {
	position: absolute;
	top: 0px;
	bottom: auto;
	height: 33px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	overflow: hidden;
	white-space: nowrap;
	background-color: #ffffff;
	z-index: 2;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_base {
	position: absolute;
	top: 0px;
	height: 34px;
	overflow: hidden;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right {
	position: absolute;
	width: 5000px;
	height: 34px;
	margin: 0px 1px;
	top: -1px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_line {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	top: none;
	height: 1px;
	overflow: hidden;
	background-color: #cccccc;
	border: none;
	z-index: 2;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 17px;
	height: 32px;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	z-index: 4;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left.dhxtabbar_tabs_ar_hidden {
	display: none;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left div.dhxtabbar_arrow_img {
	position: relative;
	height: 100%;
	border-right: 1px solid #cccccc;
	background-image: url("../imgs/dhxtabbar_terrace/dhxtabbar_arrows.gif");
	background-position: 1px 14px;
	background-repeat: no-repeat;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 17px;
	height: 32px;
	background-color: #ffffff;
	border-bottom: 1px solid #cccccc;
	z-index: 4;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right.dhxtabbar_tabs_ar_hidden {
	display: none;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right div.dhxtabbar_arrow_img {
	position: relative;
	height: 100%;
	border-left: 1px solid #cccccc;
	background-image: url("../imgs/dhxtabbar_terrace/dhxtabbar_arrows.gif");
	background-position: -13px 14px;
	background-repeat: no-repeat;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab {
	position: relative;
	height: 34px;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	z-index: 1;
	cursor: pointer;
	background-color: #f5f5f5;
	margin-left: -1px;
	margin-right: 0px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab:hover div.dhxtabbar_tab_text {
	color: #262626;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab:hover div.dhxtabbar_tab_close {
	background-color: #e8e8e8;
	border-color: #c7c7c7;
	background-position: -15px 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis {
	color: #bbbbbb;
	background-color: #fafafa;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis {
	background-color: #ffffff;
	z-index: 3;
	font-weight: bold;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_hidden {
	border: none;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text {
	position: relative;
	height: 33px;
	line-height: 33px;
	vertical-align: middle;
	top: 0px;
	bottom: none;
	text-align: center;
	padding: 0px 15px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-top: 1px solid #cccccc;
	border-bottom: 0px solid #ffffff;
	overflow: hidden;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text.dhxtabbar_tab_text_close {
	padding-right: 20px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_text {
	color: #333333;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis div.dhxtabbar_tab_text,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_text {
	color: #bbbbbb;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis div.dhxtabbar_tab_close,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis:hover div.dhxtabbar_tab_close,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_close,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis:hover div.dhxtabbar_tab_close {
	background-color: #e8e8e8;
	border-color: #c7c7c7;
	background-position: -30px 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_close {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 15px;
	height: 15px;
	border: 1px solid #cccccc;
	background-color: #f0f0f0;
	border-radius: 3px;
	background-image: url("../imgs/dhxtabbar_terrace/dhxtabbar_button_close.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	z-index: 1;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_close,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv:hover div.dhxtabbar_tab_close {
	background-color: #ffffff;
	border-color: #cccccc;
	background-position: 0px 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_cont_left div.dhxtabbar_tab {
	float: left;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs div.dhxtabbar_tabs_cont_right div.dhxtabbar_tab {
	float: right;
	margin-right: -1px;
	margin-left: 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs {
	top: auto;
	bottom: 0px;
	border-bottom: 1px solid #cccccc;
	border-top: 0px solid #ffffff;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right {
	top: 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_line {
	top: 0px;
	bottom: none;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab {
	margin-top: 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis {
	margin-top: 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text {
	border-bottom: 1px solid #cccccc;
	border-top: 0px solid white;
	top: none;
	bottom: 0px;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left,
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right {
	top: 0px;
	bottom: none;
	border-top: 1px solid #cccccc;
	border-bottom: 0px solid #ffffff;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_cont_tabbar {
	border-top: 1px solid #cccccc;
	border-bottom: 0px solid white;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_menu_def {
	border-top: 1px solid #cccccc;
	border-bottom: 0px solid white;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_toolbar_def {
	border-top: 1px solid #cccccc;
	border-bottom: 0px solid white;
}
.dhxtabbar_base_dhx_terrace div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	border-top: 1px solid #cccccc;
	border-bottom: 0px solid white;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar {
	position: absolute;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_cont_tabbar {
	position: absolute;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 0px solid white;
	overflow: hidden;
	z-index: 0;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_cont_tabbar.dhx_cell_cont_no_borders {
	border: 0px solid white !important;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	padding: 6px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_toolbar_def {
	position: relative;
	padding: 6px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar {
	border-top: 0px solid white;
	width: auto;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhxrb_with_tabbar.dhxtabbar_base_dhx_terrace {
	margin-top: -1px;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	background-color: #f5f5f5;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 28px;
	line-height: 27px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	white-space: nowrap;
	overflow: hidden;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	z-index: 1;
}
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/dhxtabbar_terrace/dhxtabbar_cell_progress.gif");
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
span.dhxtabbar_tabs_text_test_dhx_terrace {
	position: absolute;
	visibility: hidden;
	right: 0px;
	top: 0px;
	font-weight: normal;
	padding: 0px 4px;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
}
