/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhxtabbar_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
.dhxtabbar_fullscreen {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}
.dhxtabbar_base_dhx_web {
	position: relative;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_cont {
	position: absolute;
	*overflow: hidden;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs {
	position: absolute;
	top: 0px;
	bottom: auto;
	height: 32px;
	overflow: hidden;
	white-space: nowrap;
	background-color: #3da0e3;
	border: none;
	z-index: 2;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs {
	top: auto;
	bottom: 0px;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_base {
	position: absolute;
	top: 0px;
	height: 32px;
	overflow: hidden;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_left,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_cont_right {
	position: absolute;
	width: 5000px;
	height: 32px;
	margin: 0px 1px;
	top: 0px;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_base div.dhxtabbar_tabs_line {
	display: none;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 14px;
	height: 32px;
	z-index: 4;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left.dhxtabbar_tabs_ar_hidden {
	display: none;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left div.dhxtabbar_arrow_img {
	position: relative;
	height: 100%;
	background-image: url("../imgs/dhxtabbar_web/dhxtabbar_arrows.gif");
	background-position: 0px 13px;
	background-repeat: no-repeat;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 14px;
	height: 32px;
	z-index: 4;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right.dhxtabbar_tabs_ar_hidden {
	display: none;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right div.dhxtabbar_arrow_img {
	position: relative;
	height: 100%;
	background-image: url("../imgs/dhxtabbar_web/dhxtabbar_arrows.gif");
	background-position: -14px 13px;
	background-repeat: no-repeat;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab {
	position: relative;
	height: 26px;
	background-color: #2589ce;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #ffffff;
	margin-top: 5px;
	border-left: 2px solid #3da0e3;
	border-right: 2px solid #3da0e3;
	z-index: 1;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_cont_left div.dhxtabbar_tab {
	float: left;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tabs_cont_right div.dhxtabbar_tab {
	float: right;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab:hover {
	background-color: #ffffff;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab:hover div.dhxtabbar_tab_text {
	color: #000000;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis {
	background-color: #176aa3;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis {
	background-color: #ffffff;
	color: #000000;
	height: 27px;
	z-index: 3;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_hidden {
	border: none;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text {
	position: relative;
	height: 26px;
	line-height: 25px;
	vertical-align: middle;
	top: 0px;
	color: #ffffff;
	text-align: center;
	overflow: hidden;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text.dhxtabbar_tab_text_close {
	padding-right: 9px;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_text,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_text {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_text {
	color: black;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis div.dhxtabbar_tab_text,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_text {
	color: #999999;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_close {
	position: absolute;
	top: 8px;
	right: 7px;
	width: 14px;
	height: 14px;
	background-image: url("../imgs/dhxtabbar_web/dhxtabbar_button_close.gif");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	z-index: 1;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab:hover div.dhxtabbar_tab_close,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_close {
	background-position: -14px 0px;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_dis div.dhxtabbar_tab_close,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_close {
	background-position: -28px 0px;
}
span.dhxtabbar_tabs_text_test_dhx_web {
	position: absolute;
	visibility: hidden;
	right: 0px;
	top: 0px;
	font-weight: normal;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #f4f4f4;
	padding: 0px 6px;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhx_cell_tabbar div.dhx_cell_cont_tabbar {
	border-top: 1px solid #c7c7c7;
	border-bottom: 0px solid #ffffff;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab {
	margin-top: 0px;
	height: 27px;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis {
	height: 27px;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_text {
	border-top: 1px solid #3da0e3;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv div.dhxtabbar_tab_text,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab.dhxtabbar_tab_actv_dis div.dhxtabbar_tab_text {
	border-top: 1px solid #ffffff;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_left,
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tabs_ar_right {
	top: 1px;
}
.dhxtabbar_base_dhx_web div.dhxtabbar_tabs_bottom div.dhxtabbar_tabs div.dhxtabbar_tab div.dhxtabbar_tab_close {
	top: 8px;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar {
	position: absolute;
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_cont_tabbar {
	position: absolute;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
	padding: 8px;
	border-top: 0px solid #ffffff;
	overflow: hidden;
	z-index: 0;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_cont_tabbar.dhx_cell_cont_no_borders {
	border: 0px solid #ffffff !important;
	padding: 0px;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	padding: 9px 9px 0px 9px;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
	height: 20px;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_toolbar_def {
	position: relative;
	padding: 9px 9px 0px 9px;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhtmlxribbon_dhx_web.dhxrb_without_tabbar {
	border-top: 0px solid #ffffff;
	width: auto;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhxrb_with_tabbar.dhxtabbar_base_dhx_web {
	margin-top: -1px;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
	background-color: #f4f4f4;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 28px;
	line-height: 27px;
	border-bottom: 1px solid #c7c7c7;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	white-space: nowrap;
	overflow: hidden;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	z-index: 1;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/dhxtabbar_web/dhxtabbar_cell_progress.gif");
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
