/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhxcolorpicker_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
.dhtmlxcp_dhx_skyblue .dhxcp_g_area {
	position: absolute;
	width: 254px;
	height: 272px;
	border: 1px solid #a4bed4;
	background-color: #e7f1ff;
}
.dhtmlxcp_dhx_skyblue .dhxcp_add_memory {
	height: 317px !important;
}
.dhtmlxcp_dhx_skyblue .dhxcp_sub_area {
	margin: 1px;
	width: 252px;
	height: 270px;
	background-color: #e7f1ff;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxcp_dhx_skyblue .dhxcp_add_memory .dhxcp_sub_area {
	height: 229px !important;
}
.dhtmlxcp_dhx_skyblue .dhxcp_g_color_area {
	padding: 10px;
	width: 232px;
	height: 122px;
	margin: 0px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_color_selector {
	position: absolute;
	width: 210px;
	height: 120px;
	background-image: url("../imgs/dhxcp_skyblue/dhxcp_colors.png");
	background-repeat: no-repeat;
	border: 1px solid #a4bed4;
	cursor: pointer;
	float: left;
}
.dhtmlxcp_dhx_skyblue .dhxcp_contrast_area {
	border: 1px solid #a4bed4;
	position: relative;
	height: 120px;
	width: 10px;
	cursor: pointer;
	float: right;
}
.dhtmlxcp_dhx_skyblue .dhxcp_ie_gradient {
	height: 120px;
	width: 10px;
	margin: 0px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_color_selector .dhxcp_v_line {
	position: absolute;
	width: 0px;
	height: 120px;
	border-left: 1px solid #ffffff;
	cursor: pointer;
	overflow: hidden;
}
.dhtmlxcp_dhx_skyblue .dhxcp_color_selector .dhxcp_h_line,
.dhtmlxcp_dhx_skyblue .dhxcp_contrast_area .dhxcp_h_line {
	position: absolute;
	height: 0px;
	border-top: 1px solid #ffffff;
	cursor: pointer;
	overflow: hidden;
}
.dhtmlxcp_dhx_skyblue .dhxcp_color_selector .dhxcp_h_line {
	width: 210px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_contrast_area .dhxcp_h_line {
	width: 10px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_g_input_area {
	padding: 0px 10px;
	width: 232px;
	height: 78px;
	margin: 0px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_value_cont {
	width: 60px;
	height: 82px;
	float: left;
}
.dhtmlxcp_dhx_skyblue .dhxcp_value_color {
	width: 56px;
	height: 30px;
	border: 1px solid #a4bed4;
}
.dhtmlxcp_dhx_skyblue .dhxcp_value {
	width: 49px;
	height: 20px;
	border: 1px solid #a4bed4;
	border-radius: 0px;
	background-color: white;
	margin: 5px 0px 0px 0px;
	padding: 1px 3px;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	text-align: left;
}
.dhtmlxcp_dhx_skyblue .dhxcp_inputs_cont {
	border: none;
	border-spacing: 0px;
	width: 161px;
	height: 78px;
	float: right;
}
.dhtmlxcp_dhx_skyblue .dhxcp_label_hsl,
.dhtmlxcp_dhx_skyblue .dhxcp_label_rgb {
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	text-align: right;
	padding: 0px 3px 0px 0px;
}
.dhtmlxcp_dhx_skyblue td.dhxcp_input_hsl,
.dhtmlxcp_dhx_skyblue td.dhxcp_input_rgb {
	width: 27px;
	border: none;
	padding: 3px 0px;
	margin: 0px;
}
.dhtmlxcp_dhx_skyblue input.dhxcp_input_hsl,
.dhtmlxcp_dhx_skyblue input.dhxcp_input_rgb {
	width: 25px;
	height: 19px;
	border: 1px solid #a4bed4;
	border-radius: 0px;
	background-color: white;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	text-align: right;
	padding: 0px 3px;
	line-height: 18px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_g_memory_area {
	width: 232px;
	height: 0px;
	overflow: hidden;
	border-top: 1px solid #ffffff;
	margin: 10px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_memory_button_cont {
	width: 232px;
	margin: 0px;
	height: 24px;
}
.dhtmlxcp_dhx_skyblue button {
	outline: none;
	border-radius: 2px;
	border: 1px solid #a4bed4;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	padding: 0px;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhtmlxcp_dhx_skyblue button:hover {
	background-color: #f1f7ff;
	background: linear-gradient(#f1f7ff,#e2efff);
	background: -webkit-linear-gradient(#f1f7ff,#e2efff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f1f7ff,endColorStr=#e2efff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhtmlxcp_dhx_skyblue button:active {
	background-color: #d2e7fe;
	background: linear-gradient(#d2e7fe,#d3e7ff);
	background: -webkit-linear-gradient(#d2e7fe,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d2e7fe,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 3px #ccc inset;
}
.dhtmlxcp_dhx_skyblue .dhxcp_save_to_memory {
	width: 232px;
	height: 24px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_save_to_memory .dhxcp_label_bm {
	background-image: url("../imgs/dhxcp_skyblue/dhxcp_icon_save.png");
	background-repeat: no-repeat;
	display: inherit;
	padding-left: 15px;
	background-position: 0px 4px;
	height: 18px;
	line-height: 18px;
	width: 80px;
	margin: 1px auto;
	white-space: nowrap;
	text-align: left;
}
.dhtmlxcp_dhx_skyblue .dhxcp_memory_els_cont {
	width: 232px;
	height: 25px;
	margin-top: 3px;
	text-align: center;
}
.dhtmlxcp_dhx_skyblue .dhxcp_memory_el {
	width: 24px;
	height: 24px;
	background-color: #ffffff;
	border: 1px solid #a4bed4;
	display: inline-block;
	margin: 0px 1px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_memory_el_select {
	border: 1px dashed black !important;
}
.dhtmlxcp_dhx_skyblue .dhxcp_memory_el_next {
	border: 1px dashed red !important;
}
.dhtmlxcp_dhx_skyblue .dhxcp_add_memory .dhxcp_g_memory_area {
	height: 55px !important;
	border-top: none !important;
	margin: 5px 10px 5px 10px;
}
.dhtmlxcp_dhx_skyblue .dhxcp_buttons_area {
	padding: 0px 10px;
	width: 232px;
	height: 26px;
	text-align: right;
	margin: 0px;
}
.dhtmlxcp_dhx_skyblue .dhx_button_save,
.dhtmlxcp_dhx_skyblue .dhx_button_cancel {
	padding: 2px 10px;
	margin: 1px;
	height: 24px;
	line-height: 12px;
	overflow: hidden;
	text-align: center;
}
.dhxcp_colorBox {
	float: right;
}
.dhxcp_colorInput {
	float: left;
}
.dhxcp_frm {
	position: absolute;
	background-color: white;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	width: 256px;
	height: 274px;
}
.dhtmlxcp_dhx_skyblue.dhtmlxcp_in_form .dhxcp_g_area {
	padding: 5px;
	border: 1px solid #a4bed4;
	box-shadow: 0 0 9px rgba(0,0,0,0.35);
}
