/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhxacc_base_dhx_web {
	position: relative;
	cursor: default;
	overflow: hidden;
}
.dhxacc_base_dhx_web div.dhxacc_cont {
	position: absolute;
	*overflow: hidden;
}
.dhxacc_base_dhx_web div.dhx_cell_acc {
	position: relative;
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	box-shadow: 0 0 3px #e0e0e0;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_cont_acc {
	position: absolute;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
	border-top: 0px solid white;
	padding: 8px;
	overflow: hidden;
	z-index: 0;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_cont_acc.dhx_cell_cont_no_borders {
	border: 0px solid #ffffff !important;
	padding: 0px;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_hdr {
	position: relative;
	height: 32px;
	line-height: 30px;
	overflow: hidden;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #ffffff;
	font-weight: normal;
	background-color: #2589ce;
	cursor: default;
	z-index: 3;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_hdr.dhx_cell_hdr_hidden {
	border-top: 1px solid #c7c7c7;
	height: 0px;
	line-height: 0px;
	overflow: hidden;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_hdr div.dhx_cell_hdr_text {
	position: relative;
	margin: 0px 26px 0px 5px;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_hdr img.dhx_cell_hdr_icon {
	position: absolute;
	top: 7px;
	left: 6px;
	width: 16px;
	height: 16px;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_icon {
	margin-left: 24px;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_hdr div.dhx_cell_hdr_arrow {
	position: absolute;
	top: 8px;
	right: 5px;
	width: 16px;
	height: 16px;
	background-image: url("../imgs/dhxacc_web/dhxacc_btns.gif");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	overflow: hidden;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxacc_base_dhx_web div.dhx_cell_acc.dhx_cell_closed div.dhx_cell_hdr div.dhx_cell_hdr_arrow {
	background-position: -16px 0px;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_cont_acc.dhx_cell_cont_not_last {
	border-bottom: 0px solid white;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	padding: 9px 9px 0px 9px;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_toolbar_def {
	padding: 9px 9px 0px 9px;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_web.dhxrb_without_tabbar {
	border-top: 0px solid white;
	width: auto;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f4f4f4;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	height: 21px;
	line-height: 21px;
	position: relative;
	padding: 0 4px;
	overflow: hidden;
	white-space: nowrap;
	border-bottom: 1px solid #c7c7c7;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
}
.dhxacc_base_dhx_web div.dhx_cell_acc.acc_cell_dragged {
	box-shadow: 0 0 5px 2px #c2c2c2;
	z-index: 5 !important;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	z-index: 1;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/dhxacc_web/dhxacc_cell_progress.gif");
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
.dhxacc_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
