/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

.dhxacc_base_dhx_terrace {
	position: relative;
	cursor: default;
	overflow: hidden;
}
.dhxacc_base_dhx_terrace div.dhxacc_cont {
	position: absolute;
	*overflow: hidden;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc {
	position: relative;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	box-shadow: 0 0 3px #e0e0e0;
	border-color: #cccccc;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_cont_acc {
	position: absolute;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-top: 0px solid #ffffff;
	overflow: hidden;
	z-index: 0;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_hdr {
	position: relative;
	height: 36px;
	line-height: 35px;
	overflow: hidden;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	font-weight: normal;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	cursor: default;
	z-index: 3;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_hdr.dhx_cell_hdr_hidden {
	border-width: 1px 0px 0px 0px;
	height: 0px;
	line-height: 0px;
	overflow: hidden;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_hdr div.dhx_cell_hdr_text {
	position: relative;
	margin: 0px 26px 0px 10px;
	overflow: hidden;
	white-space: nowrap;
	cursor: default;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_hdr img.dhx_cell_hdr_icon {
	position: absolute;
	top: 11px;
	left: 10px;
	width: 16px;
	height: 16px;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_hdr div.dhx_cell_hdr_text.dhx_cell_hdr_icon {
	margin-left: 32px;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_hdr div.dhx_cell_hdr_arrow {
	position: absolute;
	top: 11px;
	right: 4px;
	width: 16px;
	height: 16px;
	background-image: url("../imgs/dhxacc_terrace/dhxacc_btns.gif");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	overflow: hidden;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc.dhx_cell_closed div.dhx_cell_hdr div.dhx_cell_hdr_arrow {
	background-position: -16px 0px;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_cont.dhx_cell_cont_not_last {
	border-bottom: 0px solid white;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_menu_def {
	position: relative;
	overflow: hidden;
	padding: 6px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_toolbar_def {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 6px;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_ribbon_def div.dhxrb_with_tabbar.dhxtabbar_base_dhx_terrace {
	border-top: 1px solid #ffffff;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar {
	border-top: 0px solid #ffffff;
	width: auto;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	background-color: #f5f5f5;
	z-index: 1;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 24px;
	line-height: 23px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	white-space: nowrap;
	overflow: hidden;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc.acc_cell_dragged {
	box-shadow: 0 0 5px #aaaaaa;
	z-index: 5 !important;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	z-index: 1;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-position: center 55%;
	background-image: url("../imgs/dhxacc_terrace/dhxacc_cell_progress.gif");
	background-repeat: no-repeat;
	cursor: progress;
	z-index: 2;
}
.dhxacc_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
