/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhxeditor_dhx_web {
	position: relative;
}
.dhxeditor_dhx_web iframe.dhxeditor_mainiframe {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_stb {
	position: relative;
	height: 32px;
	background-color: #3da0e3;
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button {
	float: left;
	position: relative;
	width: 18px;
	height: 18px;
	font-size: 2px;
	margin-left: 5px;
	margin-top: 7px;
	cursor: pointer;
	background-image: url("../imgs/dhxeditor_web/buttons.gif");
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_bold {
	margin-left: 12px;
	background-position: 0px 0px;
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_italic {
	background-position: -18px 0px;
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_underline {
	background-position: -36px 0px;
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_clearformat {
	background-position: -54px 0px;
}
.dhxeditor_dhx_web div.dhx_cell_editor {
	position: absolute;
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_cont_editor {
	position: absolute;
	overflow: hidden;
}
.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_toolbar_def {
	position: relative;
	overflow: hidden;
}
.dhxwins_vp_dhx_web div.dhx_cell_cont_wins .dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_cont_editor {
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}
.dhxwins_vp_dhx_web div.dhx_cell_cont_wins .dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_toolbar_def {
	padding: 0px;
}
div.dhx_popup_dhx_web div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxeditor_dhx_web div.dhx_cell_editor div.dhx_cell_cont_editor {
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	border-bottom: 1px solid #c7c7c7;
}
.dhxeditor_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
