/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhxeditor_dhx_skyblue {
	position: relative;
}
.dhxeditor_dhx_skyblue iframe.dhxeditor_mainiframe {
	position: absolute;
	overflow: hidden;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb {
	position: relative;
	height: 30px;
	padding: 0px 5px;
	border-bottom: 1px solid #a4bed4;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button {
	float: left;
	position: relative;
	width: 18px;
	height: 18px;
	font-size: 2px;
	margin-left: 5px;
	margin-top: 7px;
	cursor: pointer;
	background-image: url("../imgs/dhxeditor_skyblue/buttons.gif");
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_bold {
	margin-left: 5px;
	background-position: 0px 0px;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_italic {
	background-position: -18px 0px;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_underline {
	background-position: -36px 0px;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb div.dhx_cell_stb_button.btn_clearformat {
	background-position: -54px 0px;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor {
	position: absolute;
	background-color: white;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_cont_editor {
	position: absolute;
	overflow: hidden;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_toolbar_def {
	position: relative;
	overflow: hidden;
}
.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_skyblue {
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}
div.dhxform_item_template div.dhx_cell_editor div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_skyblue {
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
}
.dhxwins_vp_dhx_skyblue div.dhx_cell_cont_wins div.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb,
.dhxwins_vp_dhx_skyblue div.dhx_cell_cont_wins div.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_skyblue {
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-top: 1px solid #a4bed4;
}
.dhxwins_vp_dhx_skyblue div.dhx_cell_cont_wins div.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_cont_editor {
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-bottom: 1px solid #a4bed4;
}
.dhxwins_vp_dhx_skyblue div.dhx_cell_cont_wins div.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_toolbar_def {
	padding: 0px;
}
.dhxeditor_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
