/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhxtoolbar_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
.dhx_toolbar_dhx_skyblue {
	border: 1px solid #a4bed4;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	position: relative;
	padding: 0px 5px;
	height: 30px;
	line-height: normal;
	cursor: default;
	overflow: hidden;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_float_left {
	float: left;
}
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_float_right {
	float: right;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn,
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw {
	position: relative;
	float: left;
	margin-top: 2px;
	padding: 2px 3px;
	*padding-bottom: 4px;
	margin-right: 1px;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	height: 22px;
	*height: 20px;
	overflow: hidden;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_dis,
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw.dhxtoolbar_btn_dis {
	color: #999999;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_over,
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw.dhxtoolbar_btn_over {
	border: 1px solid #a4bed4;
	border-radius: 2px;
	padding: 1px 2px;
	*padding-bottom: 3px;
	background-color: #f1f7ff;
	background: linear-gradient(#f1f7ff,#e2efff);
	background: -webkit-linear-gradient(#f1f7ff,#e2efff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f1f7ff,endColorStr=#e2efff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_pres,
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw.dhxtoolbar_btn_pres {
	border: 1px solid #a4bed4;
	border-radius: 2px;
	padding: 1px 2px;
	*padding-bottom: 3px;
	background-color: #d2e7fe;
	background: linear-gradient(#d2e7fe,#d3e7ff);
	background: -webkit-linear-gradient(#d2e7fe,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d2e7fe,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 5px rgba(127,127,127,0.15) inset;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_pres_dis {
	color: #999999;
	border: 1px solid #c9c9c9;
	border-radius: 2px;
	padding: 1px 2px;
	*padding-bottom: 3px;
	background-color: #d2e7fe;
	background: linear-gradient(#d2e7fe,#d3e7ff);
	background: -webkit-linear-gradient(#d2e7fe,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d2e7fe,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 5px rgba(127,127,127,0.15) inset;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn img {
	float: left;
	margin: 2px;
	width: 18px;
	height: 18px;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn .dhxtoolbar_input {
	position: relative;
	float: left;
	border: 1px solid #a4bed4;
	background-color: white;
	margin: 1px;
	padding: 2px 4px 3px 4px;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	line-height: normal;
	direction: ltr;
	outline: none;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn .dhxtoolbar_input:disabled {
	background-color: #e7eef8;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw div.arwimg {
	float: left;
	font: inherit;
	height: 18px;
	line-height: 17px;
	margin: 2px 4px;
	padding: 0px;
	cursor: default;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw {
	margin-left: -3px;
	z-index: 1;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw div.arwimg {
	margin: 2px 0px;
	padding: 0px 3px;
	background-image: url("../imgs/dhxtoolbar_skyblue/dhxtoolbar_arrow.gif");
	background-position: center center;
	background-repeat: no-repeat;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_arw.dhxtoolbar_btn_dis div.arwimg {
	background-image: url("../imgs/dhxtoolbar_skyblue/dhxtoolbar_arrow_dis.gif");
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_sep {
	float: left;
	border-left: 1px solid #c0d9ec;
	height: 20px;
	margin: 5px 6px 0px 5px;
	overflow: hidden;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_text {
	float: left;
	vertical-align: middle;
	margin-top: 3px;
	padding: 3px 5px;
	line-height: 17px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_sl_bg_r {
	float: left;
	height: 5px;
	line-height: 1px;
	margin: 8px 0px 6px 0px;
	padding: 0px;
	width: 2px;
	font-size: 1px;
	border-top: 1px solid #a4bed5;
	border-bottom: 1px solid #a4bed5;
	background-color: #e7f1ff;
	overflow: hidden;
}
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_sl_bg_l {
	margin-left: 4px;
	border-left: 1px solid #a4bed5;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_sl_bg_r {
	margin-right: 4px;
	border-right: 1px solid #a4bed5;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_sl_pen,
.dhx_toolbar_dhx_skyblue div.dhxtoolbar_sl_pen.dhxtoolbar_over {
	position: absolute;
	top: 5px;
	width: 7px;
	height: 14px;
	border: 1px solid #a4bed4;
	background-color: #e1eeff;
	background: linear-gradient(#e1eeff,#d4e7ff);
	background: -webkit-linear-gradient(#e1eeff,#d4e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e1eeff,endColorStr=#d4e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	border-radius: 1px;
	cursor: default;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_pen {
	border-color: #c9c9c9;
	background-color: #e5e5e5;
	background: linear-gradient(#e5e5e5,#e0e0e0);
	background: -webkit-linear-gradient(#e5e5e5,#e0e0e0);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e5e5e5,endColorStr=#e0e0e0) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_skyblue div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_r {
	border-color: #c9c9c9;
	background-color: #e9e9e9;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 {
	height: 36px !important;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_arw {
	height: 28px;
	*height: 26px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_btn img {
	width: 24px;
	height: 24px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_arw div.arwimg {
	height: 24px;
	line-height: 23px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_text {
	padding-top: 6px;
	padding-bottom: 6px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_sep {
	height: 26px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_r {
	margin-top: 11px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhxtoolbar_sl_pen {
	top: 8px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_24 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 4px;
	margin-bottom: 4px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 {
	height: 44px !important;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_arw {
	height: 36px;
	*height: 34px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_btn img {
	width: 32px;
	height: 32px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_arw div.arwimg {
	height: 32px;
	line-height: 31px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_text {
	padding-top: 10px;
	padding-bottom: 10px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_sep {
	height: 34px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_r {
	margin-top: 15px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhxtoolbar_sl_pen {
	top: 12px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_32 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 8px;
	margin-bottom: 8px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 {
	height: 60px !important;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_arw {
	height: 52px;
	*height: 50px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_btn img {
	width: 48px;
	height: 48px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_arw div.arwimg {
	height: 48px;
	line-height: 47px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_text {
	padding-top: 18px;
	padding-bottom: 18px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_sep {
	height: 50px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_r {
	margin-top: 23px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhxtoolbar_sl_pen {
	top: 20px;
}
.dhx_toolbar_dhx_skyblue.dhxtoolbar_icons_48 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 16px;
	margin-bottom: 16px;
}
div.dhx_toolbar_poly_dhx_skyblue {
	position: absolute;
	border: 1px solid #a4bed4;
	box-shadow: 0 0 3px #ccc;
	padding: 3px 0px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	background-color: #e7f1ff;
	overflow: hidden;
	cursor: default;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhx_toolbar_poly_dhx_skyblue td {
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	line-height: normal;
	padding: 0px 3px;
	border-top: 1px solid #e7f1ff;
	border-bottom: 1px solid #e7f1ff;
}
div.dhx_toolbar_poly_dhx_skyblue .tr_btn_over td,
div.dhx_toolbar_poly_dhx_skyblue .tr_btn_selected td {
	background-color: #b5deff;
	border-top: 1px solid #a1cef4;
	border-bottom: 1px solid #a1cef4;
}
div.dhx_toolbar_poly_dhx_skyblue .tr_btn_disabled td {
	color: #999999;
}
div.dhx_toolbar_poly_dhx_skyblue td.td_btn_img {
	width: 18px;
	text-align: center;
}
div.dhx_toolbar_poly_dhx_skyblue td.td_btn_img img.btn_sel_img {
	width: 18px;
	height: 18px;
}
div.dhx_toolbar_poly_dhx_skyblue td.td_btn_txt div.btn_sel_text {
	padding: 0px 12px 0px 1px;
	height: 22px;
	line-height: 21px;
	overflow: hidden;
}
div.dhx_toolbar_poly_dhx_skyblue tr.tr_sep td {
	padding: 2px 0px;
}
div.dhx_toolbar_poly_dhx_skyblue div.btn_sep {
	position: relative;
	font-size: 1px;
	line-height: 1px;
	height: 0px;
	width: 100%;
	border-top: 1px solid #a4bed5;
}
div.dhx_toolbar_slider_label_dhx_skyblue {
	position: absolute;
	border: 1px solid #a4bed4;
	box-shadow: 0 0 3px #ccc;
	background-color: #e7f1ff;
	padding: 5px 8px;
	border-radius: 2px;
	overflow: hidden;
	cursor: default;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhxtoolbar_maxopen_test {
	position: absolute;
	width: 200px;
	height: 50px;
	overflow-x: none;
	overflow-y: auto;
	left: -300px;
	top: 100px;
	border: 1px solid white;
	visibility: hidden;
}
.dhxtoolbar_maxopen_test2 {
	height: 200px;
}
.dhxacc_base_dhx_skyblue div.dhx_cell_acc div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxlayout_base_dhx_skyblue div.dhx_cell_layout div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	position: relative;
	height: 32px;
	line-height: 31px;
	margin-top: -1px;
	overflow: hidden;
	white-space: nowrap;
}
.dhxtabbar_base_dhx_skyblue div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	margin-top: 0px;
	height: 31px;
}
.dhxwins_vp_dhx_skyblue div.dhxwin_active div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxwins_vp_dhx_skyblue div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	position: relative;
	height: 32px;
	line-height: 31px;
	margin-top: 3px;
	overflow: hidden;
	white-space: nowrap;
}
.dhxwins_vp_dhx_skyblue div.dhxwin_active div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging .dhx_toolbar_dhx_skyblue,
.dhxwins_vp_dhx_skyblue div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging .dhx_toolbar_dhx_skyblue {
	border-width: 0px;
	background-image: none;
}
