/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

.dhxtoolbar_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
.dhx_toolbar_dhx_terrace {
	background-color: #ffffff;
	position: relative;
	padding: 0px 5px;
	height: 34px;
	line-height: normal;
	cursor: default;
	overflow: hidden;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
}
.dhx_toolbar_dhx_terrace div.dhxtoolbar_float_left {
	float: left;
	*margin-left: 1px;
}
.dhx_toolbar_dhx_terrace div.dhxtoolbar_float_right {
	float: right;
	*margin-right: 1px;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn,
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw {
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	position: relative;
	float: left;
	margin-top: 2px;
	padding: 3px 5px;
	*padding-bottom: 4px;
	*margin-left: -1px;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	height: 22px;
	*height: 20px;
	overflow: hidden;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_dis,
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw.dhxtoolbar_btn_dis {
	color: #bbbbbb;
	background-color: #fafafa;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_over,
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw.dhxtoolbar_btn_over {
	color: #2e2e2e;
	background-color: #ebebeb;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_pres,
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw.dhxtoolbar_btn_pres {
	color: #2e2e2e;
	background-color: #e6e6e6;
	box-shadow: 0 0 5px #d9d9d9 inset;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn {
	float: left;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_pres_dis {
	background-color: #e6e6e6;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn img {
	float: left;
	margin: 2px;
	width: 18px;
	height: 18px;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn .dhxtoolbar_input {
	position: relative;
	float: left;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	margin: 1px 5px;
	padding: 2px;
	font-family: Arial, Helvetica;
	font-size: 11px;
	color: black;
	line-height: normal;
	direction: ltr;
	outline: none;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn .dhxtoolbar_input:disabled {
	background-color: #fafafa;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_pen {
	border-color: #c2c2c2;
	background-color: #dcdcdc;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_r {
	border-color: #c2c2c2;
	background-color: #e1e1e1;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw {
	margin-left: -3px;
	z-index: 1;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw div.arwimg {
	margin: 2px 0px;
	padding: 0px 3px;
	background-image: url("../imgs/dhxtoolbar_terrace/dhxtoolbar_arrow.gif");
	background-position: center center;
	background-repeat: no-repeat;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw.dhxtoolbar_btn_dis div.arwimg {
	background-image: url("../imgs/dhxtoolbar_terrace/dhxtoolbar_arrow_dis.gif");
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_terrace div.dhx_toolbar_arw div.arwimg {
	float: left;
	font: inherit;
	height: 18px;
	line-height: 17px;
	cursor: default;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_btn div.dhxtoolbar_text {
	padding: 0px;
	margin: 2px 5px;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_sep {
	float: left;
	height: 20px;
	margin: 5px 6px 0px 5px;
	overflow: hidden;
}
.dhx_toolbar_dhx_terrace div.dhx_toolbar_text {
	float: left;
	vertical-align: middle;
	margin-top: 3px;
	padding: 5px;
	line-height: 17px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_terrace div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_terrace div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_terrace div.dhxtoolbar_sl_bg_r {
	float: left;
	height: 5px;
	line-height: 1px;
	margin: 8px 0px 6px 0px;
	padding: 0px;
	width: 2px;
	font-size: 1px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	background-color: #e8e8e8;
	overflow: hidden;
}
.dhx_toolbar_dhx_terrace div.dhxtoolbar_sl_bg_l {
	margin-left: 4px;
	border-left: 1px solid #cccccc;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.dhx_toolbar_dhx_terrace div.dhxtoolbar_sl_bg_r {
	margin-right: 4px;
	border-right: 1px solid #cccccc;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.dhx_toolbar_dhx_terrace div.dhxtoolbar_sl_pen,
.dhx_toolbar_dhx_terrace div.dhxtoolbar_sl_pen.dhxtoolbar_over {
	position: absolute;
	top: 6px;
	width: 7px;
	height: 14px;
	border: 1px solid #cccccc;
	background-color: #e8e8e8;
	border-radius: 1px;
	cursor: default;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 {
	height: 40px !important;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_arw {
	height: 28px;
	*height: 26px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_btn img {
	width: 24px;
	height: 24px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_arw div.arwimg {
	height: 24px;
	line-height: 23px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_text {
	padding-top: 6px;
	padding-bottom: 6px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_sep {
	height: 26px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_r {
	margin-top: 11px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhxtoolbar_sl_pen {
	top: 9px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_24 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 4px;
	margin-bottom: 4px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 {
	height: 48px !important;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_arw {
	height: 36px;
	*height: 34px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_btn img {
	width: 32px;
	height: 32px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_arw div.arwimg {
	height: 32px;
	line-height: 31px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_text {
	padding-top: 10px;
	padding-bottom: 10px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_sep {
	height: 34px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_r {
	margin-top: 15px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhxtoolbar_sl_pen {
	top: 13px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_32 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 8px;
	margin-bottom: 8px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 {
	height: 64px !important;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_arw {
	height: 52px;
	*height: 50px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_btn img {
	width: 48px;
	height: 48px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_arw div.arwimg {
	height: 48px;
	line-height: 47px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_text {
	padding-top: 18px;
	padding-bottom: 18px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_sep {
	height: 50px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_r {
	margin-top: 23px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhxtoolbar_sl_pen {
	top: 21px;
}
.dhx_toolbar_dhx_terrace.dhxtoolbar_icons_48 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 16px;
	margin-bottom: 16px;
}
div.dhx_toolbar_poly_dhx_terrace {
	position: absolute;
	border: 1px solid #cccccc;
	box-shadow: 0 0 5px rgba(127,127,127,0.35);
	padding: 3px 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #ffffff;
	overflow: hidden;
	cursor: default;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhx_toolbar_poly_dhx_terrace td {
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: black;
	line-height: normal;
	padding: 0px 5px;
}
div.dhx_toolbar_poly_dhx_terrace .tr_btn_over td,
div.dhx_toolbar_poly_dhx_terrace .tr_btn_selected td {
	background-color: #fff3a1;
}
div.dhx_toolbar_poly_dhx_terrace .tr_btn_disabled td {
	color: #bbbbbb;
}
div.dhx_toolbar_poly_dhx_terrace td.td_btn_img {
	width: 18px;
	text-align: center;
}
div.dhx_toolbar_poly_dhx_terrace td.td_btn_img img.btn_sel_img {
	margin-top: 2px;
	width: 18px;
	height: 18px;
}
div.dhx_toolbar_poly_dhx_terrace td.td_btn_txt div.btn_sel_text {
	padding: 0px 16px 0px 1px;
	height: 26px;
	line-height: 25px;
	overflow: hidden;
}
div.dhx_toolbar_poly_dhx_terrace tr.tr_sep td {
	padding: 2px 0px;
}
div.dhx_toolbar_poly_dhx_terrace div.btn_sep {
	position: relative;
	font-size: 1px;
	line-height: 1px;
	height: 0px;
	width: 100%;
	border-top: 1px solid #cccccc;
}
div.dhx_toolbar_slider_label_dhx_terrace {
	position: absolute;
	border: 1px solid #cccccc;
	box-shadow: 0 0 5px rgba(127,127,127,0.35);
	background-color: #ffffff;
	padding: 5px 8px;
	border-radius: 2px;
	overflow: hidden;
	cursor: default;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: black;
}
.dhxtoolbar_maxopen_test {
	position: absolute;
	width: 200px;
	height: 50px;
	overflow-x: none;
	overflow-y: auto;
	left: -300px;
	top: 100px;
	border: 1px solid #ffffff;
	visibility: hidden;
}
.dhxtoolbar_maxopen_test2 {
	height: 200px;
}
.dhxacc_base_dhx_terrace div.dhx_cell_acc div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxlayout_base_dhx_terrace div.dhx_cell_layout div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxtabbar_base_dhx_terrace div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	position: relative;
	height: 42px;
	line-height: 41px;
	padding: 6px 8px 0px;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
	white-space: nowrap;
	background: white;
	z-index: 1;
}
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	position: relative;
	height: 42px;
	line-height: 41px;
	margin-top: 6px;
	overflow: hidden;
	white-space: nowrap;
}
