/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhxtoolbar_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
.dhx_toolbar_dhx_web {
	background-color: #3da0e3;
	position: relative;
	padding: 0px 5px;
	height: 32px;
	line-height: normal;
	cursor: default;
	overflow: hidden;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #ffffff;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_float_left {
	float: left;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_float_right {
	float: right;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn,
.dhx_toolbar_dhx_web div.dhx_toolbar_arw {
	position: relative;
	float: left;
	margin-top: 3px;
	padding: 2px 3px 1px 3px;
	*padding-bottom: 2px;
	margin-right: 1px;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	height: 22px;
	overflow: hidden;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_dis,
.dhx_toolbar_dhx_web div.dhx_toolbar_arw.dhxtoolbar_btn_dis {
	color: #acd7f3;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_over,
.dhx_toolbar_dhx_web div.dhx_toolbar_arw.dhxtoolbar_btn_over {
	background-color: #2a8ed2;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_pres,
.dhx_toolbar_dhx_web div.dhx_toolbar_arw.dhxtoolbar_btn_pres {
	background-color: #2589ce;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_pres_dis {
	background-color: #2e94d8;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn img {
	float: left;
	margin: 2px;
	width: 18px;
	height: 18px;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn .dhxtoolbar_input {
	position: relative;
	float: left;
	border: 1px solid white;
	background-color: white;
	margin: 1px;
	padding: 2px 4px 3px 4px;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: black;
	line-height: normal;
	direction: ltr;
	outline: none;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn .dhxtoolbar_input:disabled {
	background-color: #f2f2f2;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_pen {
	background-color: #e6e6e6;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_web div.dhx_toolbar_btn.dhxtoolbar_btn_dis div.dhxtoolbar_sl_bg_r {
	background-color: #e6e6e6;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_web div.dhx_toolbar_arw div.arwimg {
	float: left;
	font: inherit;
	height: 18px;
	line-height: 17px;
	margin: 2px 4px;
	cursor: default;
	overflow: hidden;
	white-space: nowrap;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_btn div.dhxtoolbar_text {
	padding: 0px;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_arw {
	margin-left: -3px;
	z-index: 1;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_arw div.arwimg {
	margin: 2px 0px;
	padding: 0px 3px;
	background-image: url("../imgs/dhxtoolbar_web/dhxtoolbar_arrow.gif");
	background-position: center center;
	background-repeat: no-repeat;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_arw.dhxtoolbar_btn_dis div.arwimg {
	background-image: url("../imgs/dhxtoolbar_web/dhxtoolbar_arrow_dis.gif");
}
.dhx_toolbar_dhx_web div.dhx_toolbar_sep {
	float: left;
	border-left: 1px dotted #c3e1f6;
	height: 14px;
	margin: 8px 6px 0px 5px;
	overflow: hidden;
}
.dhx_toolbar_dhx_web div.dhx_toolbar_text {
	float: left;
	vertical-align: middle;
	margin-top: 4px;
	padding: 3px 5px;
	line-height: 17px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_web div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_web div.dhxtoolbar_sl_bg_r {
	float: left;
	height: 5px;
	line-height: 1px;
	margin: 9px 0px 6px 0px;
	padding: 0px;
	width: 2px;
	font-size: 1px;
	background-color: #ffffff;
	overflow: hidden;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_sl_bg_l {
	margin-left: 4px;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_sl_bg_r {
	margin-right: 4px;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_sl_pen,
.dhx_toolbar_dhx_web div.dhxtoolbar_sl_pen.dhxtoolbar_over {
	position: absolute;
	top: 5px;
	width: 7px;
	height: 14px;
	border: 1px solid #46a4e4;
	background-color: #ffffff;
	cursor: default;
	font-size: 1px;
	line-height: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 {
	height: 38px !important;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_arw {
	height: 28px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_btn img {
	width: 24px;
	height: 24px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_arw div.arwimg {
	height: 24px;
	line-height: 23px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_text {
	padding-top: 6px;
	padding-bottom: 6px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_sep {
	height: 20px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhxtoolbar_sl_bg_r {
	margin-top: 12px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhxtoolbar_sl_pen {
	top: 8px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_24 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 4px;
	margin-bottom: 4px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 {
	height: 46px !important;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_arw {
	height: 36px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_btn img {
	width: 32px;
	height: 32px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_arw div.arwimg {
	height: 32px;
	line-height: 31px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_text {
	padding-top: 10px;
	padding-bottom: 10px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_sep {
	height: 28px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhxtoolbar_sl_bg_r {
	margin-top: 16px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhxtoolbar_sl_pen {
	top: 12px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_32 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 8px;
	margin-bottom: 8px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 {
	height: 62px !important;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_btn,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_arw {
	height: 52px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_btn img {
	width: 48px;
	height: 48px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_btn div.dhxtoolbar_text,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_arw div.arwimg {
	height: 48px;
	line-height: 47px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_text {
	padding-top: 18px;
	padding-bottom: 18px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_sep {
	height: 44px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_l,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_m,
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhxtoolbar_sl_bg_r {
	margin-top: 24px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhxtoolbar_sl_pen {
	top: 20px;
}
.dhx_toolbar_dhx_web.dhxtoolbar_icons_48 div.dhx_toolbar_btn .dhxtoolbar_input {
	margin-top: 16px;
	margin-bottom: 16px;
}
div.dhx_toolbar_poly_dhx_web {
	position: absolute;
	border: 1px solid #ffffff;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.35);
	*border: 1px solid #999999;
	padding: 3px 0px;
	background-color: #f4f4f4;
	overflow: hidden;
	cursor: default;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhx_toolbar_poly_dhx_web td {
	line-height: normal;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
	padding: 0px 4px;
}
div.dhx_toolbar_poly_dhx_web .tr_btn_over td,
div.dhx_toolbar_poly_dhx_web .tr_btn_selected td {
	background-color: #85d3ff;
}
div.dhx_toolbar_poly_dhx_web .tr_btn_disabled td {
	color: #999999;
}
div.dhx_toolbar_poly_dhx_web td.td_btn_img {
	width: 18px;
	text-align: center;
}
div.dhx_toolbar_poly_dhx_web td.td_btn_img img.btn_sel_img {
	width: 18px;
	height: 18px;
}
div.dhx_toolbar_poly_dhx_web td.td_btn_txt div.btn_sel_text {
	padding: 0px 12px 0px 1px;
	height: 24px;
	line-height: 23px;
	overflow: hidden;
}
div.dhx_toolbar_poly_dhx_web tr.tr_sep td {
	padding: 2px 0px;
}
div.dhx_toolbar_poly_dhx_web div.btn_sep {
	position: relative;
	font-size: 1px;
	line-height: 1px;
	height: 0px;
	width: 100%;
	border-top: 1px dotted #999999;
}
div.dhx_toolbar_slider_label_dhx_web {
	position: absolute;
	border: 1px solid white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.35);
	background-color: #f4f4f4;
	padding: 5px 8px;
	overflow: hidden;
	cursor: default;
	line-height: normal;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: #000000;
}
.dhxtoolbar_maxopen_test {
	position: absolute;
	width: 200px;
	height: 50px;
	overflow-x: none;
	overflow-y: auto;
	left: -300px;
	top: 100px;
	border: 1px solid white;
	visibility: hidden;
}
.dhxtoolbar_maxopen_test2 {
	height: 200px;
}
.dhxacc_base_dhx_web div.dhx_cell_acc div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxlayout_base_dhx_web div.dhx_cell_layout div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	position: relative;
	height: 32px;
	line-height: 31px;
	margin-top: -1px;
	overflow: hidden;
	white-space: nowrap;
}
.dhxtabbar_base_dhx_web div.dhx_cell_tabbar div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	margin-top: 0px;
	height: 31px;
}
.dhxwins_vp_dhx_web div.dhxwin_active div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging,
.dhxwins_vp_dhx_web div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging {
	position: relative;
	height: 32px;
	line-height: 31px;
	margin-top: 3px;
	overflow: hidden;
	white-space: nowrap;
}
.dhxwins_vp_dhx_web div.dhxwin_active div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging .dhx_toolbar_dhx_web,
.dhxwins_vp_dhx_web div.dhxwin_inactive div.dhx_cell_wins div.dhx_cell_statusbar_def div.dhx_cell_statusbar_paging .dhx_toolbar_dhx_web {
	border-width: 0px;
	background-image: none;
}
