/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhxform_obj_dhx_skyblue {
	font-family: Tahoma, Helvetica;
	float: left;
	line-height: normal;
}
.dhxform_obj_dhx_skyblue div.dhxform_base {
	position: relative;
	float: left;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_base {
	float: right;
}
.dhxform_obj_dhx_skyblue div.dhxform_base_nested {
	padding: 0px 0px 0px 0px;
	clear: both;
	*display: inline-block;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_base_nested {
	padding: 0px 0px 0px 0px;
}
.dhxform_obj_dhx_skyblue.dhxform_block {
	clear: both;
}
.dhxform_obj_dhx_skyblue div.block_dhxform_item_label_left {
	display: block;
	clear: both;
	*clear: none;
}
.dhxform_obj_dhx_skyblue div.dhxform_label div.dhxform_label_nav_link,
.dhxform_obj_dhx_skyblue div.dhxform_label div.dhxform_label_nav_link:visited,
.dhxform_obj_dhx_skyblue div.dhxform_label div.dhxform_label_nav_link:active,
.dhxform_obj_dhx_skyblue div.dhxform_label div.dhxform_label_nav_link:hover {
	outline: none;
	text-decoration: none;
	color: inherit;
	cursor: default;
	overflow: hidden;
	white-space: normal;
}
.dhxform_obj_dhx_skyblue div.dhxform_label div.dhxform_label_nav_link:focus {
	color: #305f87;
}
.dhxform_obj_dhx_skyblue div.disabled span.nav_link {
	color: inherit;
}
.dhxform_obj_dhx_skyblue div.dhxform_img,
.dhxform_obj_dhx_skyblue div.dhxform_actv_c,
.dhxform_obj_dhx_skyblue div.dhxform_actv_r {
	width: 18px;
	height: 18px;
	font-size: 1px;
}
.dhxform_obj_dhx_skyblue div.dhxform_img.chbx0,
.dhxform_obj_dhx_skyblue div.dhxform_img.chbx1,
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.chbx0,
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.chbx1,
.dhxform_obj_dhx_skyblue div.dhxform_img.rdbt0,
.dhxform_obj_dhx_skyblue div.dhxform_img.rdbt1,
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.rdbt0,
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.rdbt1,
.dhxform_obj_dhx_skyblue div.dhxform_actv_c.chbx0,
.dhxform_obj_dhx_skyblue div.dhxform_actv_c.chbx1,
.dhxform_obj_dhx_skyblue div.dhxform_actv_r.rdbt0,
.dhxform_obj_dhx_skyblue div.dhxform_actv_r.rdbt1 {
	background-image: url("../imgs/dhxform_skyblue/dhxform_chbxrd.gif");
	background-repeat: no-repeat;
}
.dhxform_obj_dhx_skyblue div.dhxform_actv_c.chbx0 {
	background-position: -162px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_actv_c.chbx1 {
	background-position: -144px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_actv_r.rdbt0 {
	background-position: -198px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_actv_r.rdbt1 {
	background-position: -180px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_img.chbx0 {
	background-position: -18px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_img.chbx1 {
	background-position: 0px 0px;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.chbx0 {
	background-position: -54px 0px;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.chbx1 {
	background-position: -36px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_img.rdbt0 {
	background-position: -90px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_img.rdbt1 {
	background-position: -72px 0px;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.rdbt0 {
	background-position: -126px 0px;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_img.rdbt1 {
	background-position: -108px 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_label {
	font-family: inherit;
	font-size: inherit;
	color: black;
	overflow-x: hidden;
	overflow: hidden;
	white-space: normal;
}
.dhxform_obj_dhx_skyblue div.dhxform_label.dhxform_label_align_left {
	text-align: left;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_label.dhxform_label_align_left {
	text-align: right;
}
.dhxform_obj_dhx_skyblue div.dhxform_label.dhxform_label_align_center {
	text-align: center;
}
.dhxform_obj_dhx_skyblue div.dhxform_label.dhxform_label_align_right {
	text-align: right;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_label.dhxform_label_align_right {
	text-align: left;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_label,
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_label div.dhxform_label_nav_link,
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_label span.dhxform_item_required {
	color: #b2b2b2;
}
.dhxform_obj_dhx_skyblue div.dhxform_label span.dhxform_item_required {
	margin-left: 5px;
	margin-right: 0px;
	color: red;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_label span.dhxform_item_required {
	margin-left: 0px;
	margin-right: 5px;
}
.dhxform_obj_dhx_skyblue input.dhxform_textarea {
	padding: 4px 3px !important;
	margin: 0px;
	font-size: 1em;
}
.dhxform_obj_dhx_skyblue textarea.dhxform_textarea {
	padding: 4px 3px !important;
}
.dhxform_obj_dhx_skyblue .dhxform_textarea {
	border: 1px solid #a4bed4;
	font-family: Tahoma, Helvetica;
	font-size: 1em;
	color: black;
	resize: none;
}
.dhxform_obj_dhx_skyblue div.disabled .dhxform_textarea {
	color: #b2b2b2;
	background-color: white;
	border: 1px solid #c2d0dd;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl .dhxform_textarea {
	text-align: right;
	direction: rtl;
}
.dhxform_obj_dhx_skyblue div.dhxform_control.dhxform_img_node {
	position: relative;
}
.dhxform_obj_dhx_skyblue div.dhxform_control.dhxform_img_node .dhxform_textarea {
	border: 1px solid white;
	background-color: white;
	color: white;
	visibility: hidden;
	*height: 1px;
	*line-height: 1px;
	*display: inline;
}
.dhxform_obj_dhx_skyblue div.dhxform_control.dhxform_img_node div.dhxform_img,
.dhxform_obj_dhx_skyblue div.dhxform_control.dhxform_img_node div.dhxform_actv_c,
.dhxform_obj_dhx_skyblue div.dhxform_control.dhxform_img_node div.dhxform_actv_r {
	float: none;
	top: 2px;
	left: 2px;
	position: absolute;
	margin: 0px;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_control.dhxform_img_node div.dhxform_img {
	float: none;
	top: 2px;
	left: 0px;
	position: absolute;
	margin: 0px;
}
.dhxform_obj_dhx_skyblue .dhxform_select {
	border: 1px solid #a4bed4;
	background-color: #ffffff;
	margin: 0px;
	padding: 3px 2px 3px 0px;
	font-family: Tahoma, Helvetica;
	font-size: 1em;
	color: black;
}
.dhxform_obj_dhx_skyblue .dhxform_select option {
	padding-left: 2px;
}
.dhxform_obj_dhx_skyblue div.disabled .dhxform_select {
	color: #b2b2b2;
	background-color: #ffffff;
	border: 1px solid #c2d0dd;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl select,
.dhxform_obj_dhx_skyblue.dhxform_rtl option {
	direction: rtl;
}
.dhxform_obj_dhx_skyblue div.fs_dhxform_item_label_left,
.dhxform_obj_dhx_skyblue div.fs_dhxform_item_label_right {
	padding: 5px 0px 5px 0px;
}
.dhxform_obj_dhx_skyblue div.fs_dhxform_item_label_left fieldset.dhxform_fs div.dhxform_base_nested.dhxform_fs_nested,
.dhxform_obj_dhx_skyblue div.fs_dhxform_item_label_right fieldset.dhxform_fs div.dhxform_base_nested.dhxform_fs_nested {
	margin-right: 19px;
	margin-left: 5px;
}
.dhxform_obj_dhx_skyblue fieldset.dhxform_fs {
	border: 1px solid #a4bed4;
	margin: 0px;
	padding: 5px 0 12px 0px;
	clear: left;
	width: 100%;
}
.dhxform_obj_dhx_skyblue div.disabled fieldset.dhxform_fs {
	border: 1px solid #c2d0dd;
}
.dhxform_obj_dhx_skyblue fieldset.dhxform_fs legend.fs_legend {
	font-family: Tahoma, Helvetica;
	font-size: inherit;
	color: #7099bb;
	font-weight: normal;
	padding: 0px 4px 1px 4px;
	margin-left: 5px;
	text-align: left;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl fieldset.dhxform_fs legend.fs_legend {
	text-align: right;
}
.dhxform_obj_dhx_skyblue div.disabled fieldset.dhxform_fs legend.fs_legend {
	color: #b2b2b2;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_right {
	clear: both;
	padding-top: 6px;
	cursor: default;
	*display: inline-block;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_right div.dhxform_img,
.dhxform_obj_dhx_skyblue div.dhxform_item_label_right div.dhxform_actv_c,
.dhxform_obj_dhx_skyblue div.dhxform_item_label_right div.dhxform_actv_r {
	float: left;
	margin: 0px;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_item_label_right div.dhxform_img {
	float: right;
	margin: 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_right div.dhxform_label {
	float: left;
	padding: 2px 0px 2px 0px;
	margin: 2px 0 2px 0px;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_item_label_right div.dhxform_label {
	float: right;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_right div.dhxform_control {
	float: left;
	margin-right: 3px;
	margin-left: 0px;
	*display: inline;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_item_label_right div.dhxform_control {
	float: right;
	margin-right: 0px;
	margin-left: 3px;
	*display: inline;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_left {
	clear: both;
	padding-top: 6px;
	cursor: default;
	*display: inline-block;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_left div.dhxform_img,
.dhxform_obj_dhx_skyblue div.dhxform_item_label_left div.dhxform_actv_c,
.dhxform_obj_dhx_skyblue div.dhxform_item_label_left div.dhxform_actv_r {
	float: right;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_item_label_left div.dhxform_img {
	float: left;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_left div.dhxform_label {
	float: left;
	padding: 2px 0px 2px 0px;
	margin: 2px 0px 2px 0px;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_item_label_left div.dhxform_label {
	float: right;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_left div.dhxform_control {
	float: left;
	padding-left: 4px;
	padding-right: 0px;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_item_label_left div.dhxform_control {
	float: right;
	padding-right: 4px;
	padding-left: 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_top {
	clear: both;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_top div.dhxform_label {
	float: none;
	margin-bottom: 5px;
	margin-top: 8px;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_label_top div.dhxform_control {
	float: none;
	margin-left: 0px;
	margin-bottom: 5px;
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_item_label_top div.dhxform_control {
	float: none;
	margin-right: 0px;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_absolute {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: default;
}
.dhxform_obj_dhx_skyblue div.item_absolute div.dhxform_img,
.dhxform_obj_dhx_skyblue div.item_absolute div.dhxform_actv_c,
.dhxform_obj_dhx_skyblue div.item_absolute div.dhxform_actv_r {
	position: absolute;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_absolute div.dhxform_control,
.dhxform_obj_dhx_skyblue div.dhxform_item_absolute div.dhxform_label,
.dhxform_obj_dhx_skyblue div.dhxform_item_absolute div.dhxform_control.dhxform_img_node,
.dhxform_obj_dhx_skyblue div.dhxform_item_absolute div.dhxform_txt_label2,
.dhxform_obj_dhx_skyblue div.dhxform_item_absolute div.dhxform_btn,
.dhxform_obj_dhx_skyblue div.block_item_absolute div.dhxform_block {
	position: absolute;
}
.dhxform_obj_dhx_skyblue div.dhxform_txt_label2 {
	font-family: Tahoma, Helvetica;
	font-size: inherit;
	color: #7099bb;
	font-weight: bold;
	margin: 0px 3px;
	padding: 5px 0px;
	cursor: default;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_txt_label2 {
	color: #b2b8bc;
}
.dhxform_obj_dhx_skyblue div.dhxform_btn {
	font-family: Tahoma, Helvetica;
	font-size: inherit;
	color: black;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	border: 1px solid #a4bed4;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	margin: 5px 2px;
	border-radius: 2px;
	float: left;
	cursor: default;
	clear: both;
	position: relative;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxform_obj_dhx_skyblue.dhxform_rtl div.dhxform_btn {
	float: right;
}
.dhxform_obj_dhx_skyblue div.dhxform_btn.dhxform_btn_over {
	background-color: #f1f7ff;
	background: linear-gradient(#f1f7ff,#e2efff);
	background: -webkit-linear-gradient(#f1f7ff,#e2efff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f1f7ff,endColorStr=#e2efff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxform_obj_dhx_skyblue div.dhxform_btn.dhxform_btn_pressed {
	background-color: #d2e7fe;
	background: linear-gradient(#d2e7fe,#d3e7ff);
	background: -webkit-linear-gradient(#d2e7fe,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d2e7fe,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 5px rgba(127,127,127,0.15) inset;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_btn {
	border-color: #cccccc;
	background-color: #f9f9f9;
	background: linear-gradient(#f9f9f9,#f1f1f1);
	background: -webkit-linear-gradient(#f9f9f9,#f1f1f1);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f9f9f9,endColorStr=#f1f1f1) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 5px rgba(127,127,127,0.15) inset;
}
.dhxform_obj_dhx_skyblue div.dhxform_btn div.dhxform_btn_txt {
	float: left;
	margin: 0px 20px;
	height: 24px;
	line-height: 23px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	white-space: nowrap;
	*display: inline;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_btn div.dhxform_btn_txt {
	color: #999999 !important;
}
.dhxform_obj_dhx_skyblue div.dhxform_btn:focus {
	outline: 1px dotted #909090;
}
.dhxform_obj_dhx_skyblue div.dhxform_btn div.dhxform_btn_filler {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100px;
	left: 0px;
	top: 0px;
	background-color: white;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.dhxform_obj_dhx_skyblue div.dhxform_control div.dhxform_note {
	font-family: Tahoma, Helvetica;
	font-size: 0.8em;
	color: #808080;
	padding-bottom: 3px;
	white-space: normal;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_control div.dhxform_note {
	color: #b2b2b2;
}
.dhxform_obj_dhx_skyblue div.dhxform_label span.dhxform_info {
	font-family: Tahoma, Helvetica;
	font-size: 0.6em;
	color: #808080;
	margin-left: 3px;
	padding-bottom: 2px;
	line-height: 100%;
	vertical-align: middle;
	cursor: pointer;
}
.dhxform_obj_dhx_skyblue .validate_error .dhxform_label,
.dhxform_obj_dhx_skyblue .validate_error .dhxform_textarea,
.dhxform_obj_dhx_skyblue .validate_error .dhxform_select,
.dhxform_obj_dhx_skyblue .validate_error div.dhxform_label_nav_link,
.dhxform_obj_dhx_skyblue .validate_error div.dhxform_label div.dhxform_label_nav_link:focus {
	color: red;
}
.dhxform_obj_dhx_skyblue div.disabled .dhx_combo_box.dhx_skyblue {
	border: 1px solid #c2d0dd;
}
.dhxform_obj_dhx_skyblue div.disabled .dhx_combo_box.dhx_skyblue .dhx_combo_input {
	color: #b2b2b2;
	background-color: #ffffff;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_template.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_stb {
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-top: 1px solid #a4bed4;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_template.dhxeditor_dhx_skyblue div.dhx_cell_editor div.dhx_cell_cont_editor {
	border-left: 1px solid #a4bed4;
	border-right: 1px solid #a4bed4;
	border-bottom: 1px solid #a4bed4;
}
.dhxform_obj_dhx_skyblue div.dhxform_item_template.dhxeditor_dhx_skyblue div.dhxcont_content_blocker {
	display: none;
}
.dhxform_obj_dhx_skyblue div.disabled div.dhxform_item_template.dhxeditor_dhx_skyblue div.dhxcont_content_blocker {
	display: inline;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #fefefe;
	opacity: 0.7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader {
	position: relative;
	width: 100%;
	margin-bottom: 4px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls {
	position: relative;
	width: 100%;
	height: 35px;
	font-size: 2px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button {
	position: absolute;
	width: 19px;
	height: 19px;
	top: 8px;
	background-image: url("../imgs/dhxform_skyblue/dhxform_upload_buttons.gif");
	background-repeat: no-repeat;
	font-size: 2px;
	cursor: pointer;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_info {
	display: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_browse {
	background-position: 0px 0px;
	right: 108px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_upload {
	background-position: -19px 0px;
	right: 79px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_cancel {
	background-position: -57px 0px;
	right: 79px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_uploader_button.button_clear {
	background-position: -38px 0px;
	right: 50px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls .dhx_uploader_input {
	position: absolute;
	left: -1000px;
	top: 0px;
	visibility: hidden;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont {
	position: absolute;
	width: 19px;
	height: 19px;
	left: 0px;
	top: 0px;
	cursor: pointer;
	overflow: hidden;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form .dhx_file_input {
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
	outline: none;
	height: 19px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files {
	position: relative;
	width: 100%;
	left: 0px;
	top: 0px;
	overflow: auto;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file {
	position: relative;
	width: 100%;
	height: 25px;
	overflow: hidden;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_added,
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_uploading {
	color: black;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_uploaded {
	color: #30678a;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file.dhx_file_fail {
	color: #e94a4a;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file_param {
	position: absolute;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	top: 0px;
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	overflow: hidden;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_name {
	left: 20px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_progress {
	right: 50px;
	width: 38px;
	text-align: right;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_delete {
	right: 30px;
	width: 11px;
	background-image: url("../imgs/dhxform_skyblue/dhxform_upload_buttons.gif");
	background-position: -76px 0px;
	background-repeat: no-repeat;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files div.dhx_file_param.dhx_file_uploading {
	right: 50px;
	width: 38px;
	text-align: right;
	background-image: url("../imgs/dhxform_skyblue/dhxform_upload_uploading.gif");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls {
	height: 60px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_files {
	display: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_info {
	display: inline;
	background-image: none;
	font-family: Tahoma, Helvetica;
	font-size: 13px;
	color: #a1a1a1;
	height: auto;
	top: 0px;
	left: 35px;
	vertical-align: top;
	padding-top: 6px;
	line-height: 20px;
	cursor: default;
	filter: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_browse {
	top: 0px;
	width: 54px;
	height: 54px;
	right: 35px;
	background-image: url("../imgs/dhxform_skyblue/dhxform_upload_buttons.gif");
	background-position: 0px -38px;
	background-repeat: no-repeat;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_upload,
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_cancel,
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_uploader_button.button_clear {
	display: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_form_cont {
	width: 54px;
	height: 54px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls div.dhx_file_form_cont form.dhx_file_form .dhx_file_input {
	height: 54px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_info,
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_added,
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_uploading,
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_uploaded,
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file.dhx_file_fail {
	color: #b2b2b2;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader.dhx_file_uploader_title div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_browse {
	background-position: -54px -38px;
	cursor: default;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_form_cont {
	display: none;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button {
	cursor: default;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_browse {
	background-position: 0px -19px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_upload {
	background-position: -19px -19px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_cancel {
	background-position: -57px -19px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_controls.dhx_uploader_dis div.dhx_file_uploader_button.button_clear {
	background-position: -38px -19px;
}
.dhxform_obj_dhx_skyblue .dhx_file_uploader div.dhx_upload_files.dhx_uploader_dis div.dhx_file_param.dhx_file_delete {
	background-position: -87px 0px;
	cursor: default;
}
.dhtmlx_skin_dhx_skyblue div.dhtmlx_wins_body_inner .dhxform_obj_dhx_skyblue {
	background-color: white;
}
.dhxform_obj_dhx_skyblue div.dhxform_control .dhx_combo_box.dhx_skyblue .dhx_combo_input,
.dhx_combo_list.dhx_skyblue_list div {
	font-size: 1em !important;
}
div.dhx_form_skin_detect {
	position: absolute;
	display: block;
	visibility: hidden;
	left: -100px;
	top: 0px;
	width: 10px;
	height: 10px;
	margin: 0px;
	padding: 0px;
	border: none;
	overflow: hidden;
}
