/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhtmlxslider_dhx_skyblue {
	z-index: 0;
}
.dhtmlxslider_dhx_skyblue .dhxsl_hidden {
	display: none;
}
.dhtmlxslider_dhx_skyblue .dhxsl_container {
	position: relative;
	float: left;
	clear: left;
	margin: 0px;
	padding: 1px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhtmlxslider_dhx_skyblue .dhxsl_container.dhxsl_cont_hr {
	margin-top: 6px;
}
.dhtmlxslider_dhx_skyblue .dhxsl_container.dhxsl_cont_vr {
	margin-left: 6px;
}
.dhtmlxslider_dhx_skyblue .dhxsl_runner {
	position: absolute;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #a4bed4;
	background-color: #f1f7ff;
	background: linear-gradient(#f1f7ff,#e2efff);
	background: -webkit-linear-gradient(#f1f7ff,#e2efff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f1f7ff,endColorStr=#e2efff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	border-radius: 2px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	z-index: 1;
}
.dhtmlxslider_dhx_skyblue .dhxsl_runner.dhxsl_runner_actv {
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	z-index: 2;
}
.dhtmlxslider_dhx_skyblue .dhxsl_runner_dis {
	border-color: #c9c9c9;
	background-color: #e8e8e8;
	background: linear-gradient(#e8e8e8,#dedede);
	background: -webkit-linear-gradient(#e8e8e8,#dedede);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e8e8e8,endColorStr=#dedede) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.dhtmlxslider_dhx_skyblue .dhxsl_track {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #a4bed4;
	position: relative;
	border-radius: 2px;
	background-color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
}
.dhtmlxslider_dhx_skyblue .dhxsl_track div.dhxsl_track_bg {
	position: absolute;
	background-color: #e7f1ff;
	font-size: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxslider_dhx_skyblue .dhxsl_cont_vr .dhxsl_track {
	height: 100%;
	width: 3px;
}
.dhtmlxslider_dhx_skyblue .dhxsl_cont_vr .dhxsl_track div.dhxsl_track_bg {
	left: 0px;
	width: 100%;
}
.dhtmlxslider_dhx_skyblue .dhxsl_cont_hr .dhxsl_track {
	width: 100%;
	height: 3px;
}
.dhtmlxslider_dhx_skyblue .dhxsl_cont_hr .dhxsl_track div.dhxsl_track_bg {
	top: 0px;
	height: 100%;
}
.dhtmlxslider_dhx_skyblue .dhxsl_track_dis {
	border: 1px solid #c9c9c9;
	background-color: #f0f0f0;
}
.dhtmlxslider_dhx_skyblue .dhxsl_track_dis div.dhxsl_track_bg {
	position: absolute;
	background-color: #d0d0d0;
}
.dhxslider_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
