/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhtmlxslider_dhx_web {
	z-index: 0;
}
.dhtmlxslider_dhx_web .dhxsl_hidden {
	display: none;
}
.dhtmlxslider_dhx_web .dhxsl_container {
	position: relative;
	float: left;
	clear: left;
	margin: 0px;
	padding: 1px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhtmlxslider_dhx_web .dhxsl_container.dhxsl_cont_hr {
	margin-top: 5px;
}
.dhtmlxslider_dhx_web .dhxsl_container.dhxsl_cont_vr {
	margin-left: 5px;
}
.dhtmlxslider_dhx_web .dhxsl_runner {
	position: absolute;
	width: 12px;
	height: 12px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #3da0e3;
	background-color: #3da0e3;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
	z-index: 1;
}
.dhtmlxslider_dhx_web .dhxsl_runner.dhxsl_runner_actv {
	background-color: #2589ce;
	z-index: 2;
}
.dhtmlxslider_dhx_web .dhxsl_runner_dis {
	border: 1px solid #999999;
	background-color: #999999;
}
.dhtmlxslider_dhx_web .dhxsl_track {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #c7c7c7;
	position: relative;
	background-color: #ffffff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-ms-touch-action: none;
}
.dhtmlxslider_dhx_web .dhxsl_track div.dhxsl_track_bg {
	position: absolute;
	background-color: #d9ecfa;
	font-size: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxslider_dhx_web .dhxsl_cont_vr .dhxsl_track {
	height: 100%;
	width: 6px;
}
.dhtmlxslider_dhx_web .dhxsl_cont_vr .dhxsl_track div.dhxsl_track_bg {
	left: 0px;
	width: 100%;
}
.dhtmlxslider_dhx_web .dhxsl_cont_hr .dhxsl_track {
	width: 100%;
	height: 6px;
}
.dhtmlxslider_dhx_web .dhxsl_cont_hr .dhxsl_track div.dhxsl_track_bg {
	top: 0px;
	height: 100%;
}
.dhtmlxslider_dhx_web .dhxsl_track_dis {
	border: 1px solid #d9d9d9;
	background-color: #f2f2f2;
}
.dhtmlxslider_dhx_web .dhxsl_track_dis div.dhxsl_track_bg {
	background-color: #d9d9d9;
}
.dhxslider_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 20px;
	height: 10px;
	overflow: hidden;
}
