/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_terrace.less */

.dhxcarousel_base_dhx_terrace {
	background-color: white;
	position: relative;
	cursor: default;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area {
	position: relative;
	overflow: hidden;
	perspective: 900px;
	-webkit-perspective: 900;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel {
	position: absolute;
	background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	cursor: default;
	z-index: 0;
	-webkit-transform-style: preserve-3d;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 1px;
	background-color: white;
	overflow: hidden;
	z-index: 1;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cont_carousel {
	position: absolute;
	border: 1px solid #cccccc;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	z-index: 0;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_cont_carousel.dhx_cell_cont_no_borders {
	border-width: 0px;
	padding: 0px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	opacity: 0.75;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75);
	z-index: 1;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxcarousel_terrace/dhxcarousel_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 2;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_def,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_no_borders {
	position: relative;
	overflow: hidden;
	padding: 0px 0px 8px 0px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_def div.dhtmlxMenu_dhx_terrace_Middle,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_menu_no_borders div.dhtmlxMenu_dhx_terrace_Middle {
	padding: 0px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_def,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_no_borders {
	position: relative;
	overflow: hidden;
	padding: 0px 0px 8px 0px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_def div.dhx_toolbar_dhx_terrace,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_toolbar_no_borders div.dhx_toolbar_dhx_terrace {
	padding: 0px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_no_borders {
	position: relative;
	overflow: hidden;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def div.dhxrb_with_tabbar.dhxtabbar_base_dhx_terrace,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_no_borders div.dhxrb_with_tabbar.dhxtabbar_base_dhx_terrace {
	border-width: 0px;
	width: auto;
	margin-left: -4px;
	margin-top: -4px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_def div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_ribbon_no_borders div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar {
	border-width: 0px;
	margin-left: -4px;
	margin-top: -4px;
	width: auto;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_statusbar_def {
	position: absolute;
	bottom: 0px;
	width: 100%;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	background-color: #f5f5f5;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhxcarousel_area div.dhx_cell_carousel div.dhx_cell_statusbar_def div.dhx_cell_statusbar_text {
	position: relative;
	padding: 0px 4px;
	height: 24px;
	line-height: 25px;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	white-space: nowrap;
	overflow: hidden;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls {
	position: absolute;
	width: 100%;
	height: 34px;
	bottom: 0px;
	left: 0px;
	z-index: 3;
	overflow: visible;
	border-top: 1px solid #cccccc;
	background-color: #f5f5f5;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn {
	position: absolute;
	bottom: 0px;
	width: 38px;
	height: 100%;
	overflow: hidden;
	font-size: 14px;
	line-height: 33px;
	font-family: Arial;
	color: #333333;
	background-color: #f5f5f5;
	border: 0px solid #cccccc;
	text-align: center;
	z-index: 2;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev:hover,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next:hover {
	color: #2e2e2e;
	background-color: #ebebeb;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev:active,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next:active {
	color: #2e2e2e;
	background-color: #e6e6e6;
	box-shadow: 0 0 5px #d9d9d9 inset;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis {
	left: 0px;
	border-right-width: 1px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	right: 0px;
	border-left-width: 1px;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis,
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	color: #bbbbbb;
	background-color: #fafafa;
	z-index: 1;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars {
	position: absolute;
	top: 11px;
	text-align: center;
	font-size: 1px;
	line-height: 36px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar {
	float: left;
	position: relative;
	margin: 0 2px;
	width: 12px;
	height: 12px;
	border: 1px solid #cccccc;
	border-radius: 12px;
	background-color: white;
	font-size: 1px;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar div.dhx_carousel_barcore {
	display: none;
}
.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_bars div.dhx_carousel_onebar.dhx_carousel_baractv div.dhx_carousel_barcore {
	position: absolute;
	display: block;
	font-size: 1px;
	margin: 0px;
	padding: 0px;
	width: 6px;
	height: 6px;
	top: 3px;
	left: 3px;
	border-radius: 12px;
	background-color: #333333;
	overflow: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_hdr {
	position: relative;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_ftr {
	position: absolute;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_progress {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 3;
	opacity: 0.55;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_progress_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/dhxcarousel_terrace/dhxcarousel_cell_progress.gif');
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 4;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_menu {
	position: relative;
	overflow: hidden;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_toolbar {
	position: relative;
	padding-bottom: 10px;
	overflow: hidden;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_toolbar div.dhx_toolbar_dhx_terrace {
	padding-left: 0px;
	padding-right: 0px;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_ribbon {
	padding-bottom: 10px;
	position: relative;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_ribbon div.dhtmlxribbon_dhx_terrace.dhxrb_without_tabbar {
	width: auto;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_statusbar {
	position: absolute;
	background-color: #ffffff;
	overflow: hidden;
}
.dhxcarousel_base_dhx_terrace div.dhxcelltop_statusbar div.dhxcont_statusbar {
	position: relative;
	margin-top: 10px;
	border: 1px solid #cccccc;
	background-color: #f5f5f5;
	font-family: Arial, Helvetica;
	font-size: 13px;
	color: #333333;
	padding: 3px 4px;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_terrace {
	background-color: #f5f5f5;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls,
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls {
	border-bottom: 1px solid #cccccc;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis,
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_prev_dis {
	border-left-width: 1px;
}
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
div.dhx_popup_dhx_terrace div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis,
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
.dhxwins_vp_dhx_terrace div.dhxwin_active div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next,
.dhxwins_vp_dhx_terrace div.dhxwin_inactive div.dhx_cell_wins div.dhxcarousel_base_dhx_terrace div.dhxcarousel_cont div.dhx_carousel_controls div.dhx_carousel_btn.dhx_carousel_btn_next_dis {
	border-right-width: 1px;
}
.dhxcarousel_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 30px;
	height: 10px;
	overflow: hidden;
}
