/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

div.dhxcombo_dhx_skyblue {
	position: relative;
	border: 1px solid #a4bed4;
	overflow: hidden;
	vertical-align: middle;
	background-color: white;
	font-size: 1px;
	height: 22px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
div.dhxcombo_dhx_skyblue input.dhxcombo_input {
	position: relative;
	top: 0px;
	left: 1px;
	height: 22px;
	line-height: 21px;
	*height: 20px;
	*line-height: 19px;
	border: 0px solid white;
	outline: 0px solid white;
	padding: 0px;
	margin: 0px 0px 0px 2px;
	background-color: white;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: black;
	vertical-align: middle;
}
div.dhxcombo_dhx_skyblue div.dhxcombo_select_button {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 1px;
	right: 1px;
	font-size: 1px;
	border: 1px solid #a4bed4;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	border-radius: 2px;
	cursor: pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}
div.dhxcombo_dhx_skyblue div.dhxcombo_select_button div.dhxcombo_select_img {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("../imgs/dhxcombo_skyblue/dhxcombo_arrow_down.gif");
	background-repeat: no-repeat;
	background-position: center center;
}
div.dhxcombo_dhx_skyblue div.dhxcombo_top_image {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 26px;
	height: 22px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	cursor: default;
}
div.dhxcombolist_dhx_skyblue {
	position: absolute;
	font-family: Tahoma, Helvetica;
	font-size: 12px;
	color: black;
	border: 1px solid #a4bed4;
	box-shadow: 0 2px 3px #ccc;
	background-color: #e7f1ff;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow-x: none;
	overflow-y: auto;
	-moz-transition: height 0.15s ease 0s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
div.dhxcombolist_dhx_skyblue div.dhxcombo_option {
	position: relative;
	font-size: inherit;
	height: 20px;
	line-height: 19px;
	border-top: 1px solid #e7f1ff;
	border-bottom: 1px solid #e7f1ff;
	vertical-align: middle;
	overflow: hidden;
	cursor: default;
}
div.dhxcombolist_dhx_skyblue div.dhxcombo_option.dhxcombo_option_selected {
	background-color: #b5deff !important;
	border-top: 1px solid #a1ceed !important;
	border-bottom: 1px solid #a1ceed !important;
	color: black;
}
div.dhxcombolist_dhx_skyblue div.dhxcombo_option div.dhxcombo_option_text {
	position: relative;
	padding: 0px 4px;
	white-space: nowrap;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhxcombolist_dhx_skyblue div.dhxcombo_option div.dhxcombo_option_text.dhxcombo_option_text_chbx {
	position: relative;
	padding: 0px 4px 0px 4px;
	margin-left: 20px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	white-space: nowrap;
}
div.dhxcombolist_dhx_skyblue div.dhxcombo_option div.dhxcombo_checkbox {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 20px;
	height: 20px;
	background-image: url("../imgs/dhxcombo_skyblue/dhxcombo_chbx.gif");
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	cursor: default;
}
div.dhxcombolist_dhx_skyblue div.dhxcombo_option div.dhxcombo_checkbox.dhxcombo_chbx_0 {
	background-position: 0px 0px;
}
div.dhxcombolist_dhx_skyblue .dhxcombo_option div.dhxcombo_checkbox.dhxcombo_chbx_1 {
	background-position: -18px 0px;
}
div.dhxcombolist_dhx_skyblue div.dhxcombo_option div.dhxcombo_option_text.dhxcombo_option_text_image {
	position: relative;
	padding: 0px 4px 0px 4px;
	margin-left: 20px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	white-space: nowrap;
}
div.dhxcombo_dhx_skyblue div.dhxcombo_top_image div.dhxcombo_image,
div.dhxcombolist_dhx_skyblue div.dhxcombo_option div.dhxcombo_image {
	position: absolute;
	left: 3px;
	top: 1px;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
	cursor: default;
}
div.dhxcombo_dhx_skyblue.dhxcombo_disabled {
	border: 1px solid #cccccc;
	background-color: #fafafa;
}
div.dhxcombo_dhx_skyblue.dhxcombo_disabled input.dhxcombo_input {
	color: #b2b2b2;
	background-color: #fafafa;
}
div.dhxcombo_dhx_skyblue.dhxcombo_disabled div.dhxcombo_select_button {
	border-color: #cccccc;
	background-color: #fefefe;
	background: linear-gradient(#fefefe,#f4f4f4);
	background: -webkit-linear-gradient(#fefefe,#f4f4f4);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#fefefe,endColorStr=#f4f4f4) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	cursor: default;
}
div.dhxcombo_dhx_skyblue.dhxcombo_disabled div.dhxcombo_select_button div.dhxcombo_select_img {
	background-image: url("../imgs/dhxcombo_skyblue/dhxcombo_arrow_down_dis.gif");
}
.dhxgrid_combo_icon {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
}
div.dhxcombo_in_grid_parent {
	position: relative;
	height: 100%;
	top: 0px;
}
div.dhxcombo_in_grid_parent div.dhxcombo_dhx_skyblue {
	position: absolute;
	top: 0px;
	left: -4px;
	*top: -2px;
	*height: 23px;
}
div.dhxcombo_in_grid_parent input.dhxcombo_input {
	border-left: 2px solid white;
	font-family: Arial;
	font-size: 12px;
	*margin-top: -3px;
	*height: 18px;
	*line-height: 17px;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_hdr {
	border-bottom-width: 0px;
	height: 27px;
	line-height: 27px;
	box-shadow: none;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: #e2efff;
	background: linear-gradient(#e2efff,#d3e7ff);
	background: -webkit-linear-gradient(#e2efff,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#e2efff,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_hdr div.dhxcombo_hdrtext {
	position: relative;
	padding: 0px;
	white-space: nowrap;
	cursor: default;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_hdr div.dhxcombo_hdrtext div.dhxcombo_hdrcell,
div.dhxcombolist_dhx_skyblue.dhxcombolist_hdr div.dhxcombo_hdrtext div.dhxcombo_hdrcell_first {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	z-index: 2;
	border-left: 1px solid #a4bed4;
	padding: 0px;
	margin: 0px;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_hdr div.dhxcombo_hdrtext div.dhxcombo_hdrcell_first,
div.dhxcombolist_dhx_skyblue.dhxcombolist_hdr div.dhxcombo_hdrtext div.dhxcombo_hdrcell:first-child {
	border-left-width: 0px;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option {
	height: 24px;
	line-height: 24px;
	margin-top: -1px;
	z-index: 0;
	border-top: 1px solid #d3e7ff;
	border-bottom: 1px solid #d3e7ff;
	background-color: white;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option:last-child {
	border-bottom-color: white;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option div.dhxcombo_option_text {
	padding: 0px;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option div.dhxcombo_cell,
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option div.dhxcombo_cell_first {
	float: left;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	border-left: 1px solid #d3e7ff;
	padding: 0px;
	margin: 0px;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option div.dhxcombo_cell_first,
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option div.dhxcombo_cell:first-child {
	border-left-width: 0px;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option.dhxcombo_option_selected {
	z-index: 1;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option.dhxcombo_option_selected div.dhxcombo_cell {
	border-left-color: #b5deff;
}
div.dhxcombolist_dhx_skyblue.dhxcombolist_multicolumn div.dhxcombo_option div.dhxcombo_cell_text,
div.dhxcombolist_dhx_skyblue.dhxcombolist_hdr div.dhxcombo_hdrtext div.dhxcombo_hdrcell_text {
	position: relative;
	margin: 0px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: auto;
}
.dhxcombo_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
