/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

div.dhx_popup_dhx_skyblue {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	position: absolute;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area {
	position: relative;
	margin: 10px;
	padding: 3px 0px;
	border: 1px solid #a4bed4;
	box-shadow: 0 0 3px #ccc;
	background-color: #e7f1ff;
	border-radius: 2px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td {
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	text-align: left;
	vertical-align: middle;
	padding: 0px 8px;
	height: 24px;
	line-height: 23px;
	border-top: 1px solid #e7f1ff;
	border-bottom: 1px solid #e7f1ff;
	white-space: nowrap;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td div.dhtmlxcalendar_dhx_skyblue {
	position: relative;
	float: left;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td * {
	white-space: normal;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhx_popup_sep td.dhx_popup_sep {
	font-size: 1px;
	padding: 2px 0px;
	position: relative;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhx_popup_sep td.dhx_popup_sep div.dhx_popup_sep {
	position: relative;
	font-size: 1px;
	line-height: 1px;
	height: 0px;
	width: 100%;
	border-top: 1px solid #a4bed5;
	overflow: hidden;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td:first-child {
	padding-left: 16px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area td.dhx_popup_td:last-child {
	padding-right: 16px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr:hover td.dhx_popup_td {
	background-color: #b5d8ff;
	border-top: 1px solid #8dcef4;
	border-bottom: 1px solid #8dcef4;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode:hover td.dhx_popup_td {
	background: none;
	border-top: 1px solid #e7f1ff;
	border-bottom: 1px solid #e7f1ff;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	height: auto;
	line-height: inherit;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td .dhtmlxcalendar_container.dhtmlxcalendar_skin_dhx_skyblue {
	position: relative !important;
	background-image: none;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxtree_dhx_skyblue {
	background: none;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxeditor_dhx_skyblue {
	border: 1px solid #a4bed4;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td .dhxform_obj_dhx_skyblue div.dhxeditor_dhx_skyblue {
	border-width: 0px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhtmlxcp_dhx_skyblue div.dhxcp_g_area {
	position: relative;
	background-color: #e7f1ff;
	border: 0px solid white;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhtmlxcp_dhx_skyblue div.dhxcp_g_area div.dhxcp_sub_area {
	background: #e7f1ff;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area tr.dhxnode td.dhx_popup_td div.dhxcarousel_cont {
	background-color: #e7f1ff;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie {
	box-shadow: 0 0 6px #ccc;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie tr.dhxnode td.dhx_popup_td {
	height: 1em;
	line-height: 1em;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_single {
	padding-left: 16px;
	padding-right: 16px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_first {
	padding-left: 16px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie td.dhx_popup_td.dhx_popup_td_last {
	padding-right: 16px;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_area.dhx_popup_area_ie tr.tr_hover td.dhx_popup_td {
	background-color: #b5d8ff;
	border-top: 1px solid #8dcef4;
	border-bottom: 1px solid #8dcef4;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow {
	position: absolute;
	background-repeat: no-repeat;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_bottom {
	width: 19px;
	height: 16px;
	background-image: url("../imgs/dhxpopup_skyblue/dhxpopup_arrow_bottom.gif");
	background-position: top center;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_top {
	width: 19px;
	height: 16px;
	background-image: url("../imgs/dhxpopup_skyblue/dhxpopup_arrow_top.gif");
	background-position: bottom center;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_right {
	width: 16px;
	height: 19px;
	background-image: url("../imgs/dhxpopup_skyblue/dhxpopup_arrow_right.gif");
	background-position: center left;
}
div.dhx_popup_dhx_skyblue div.dhx_popup_arrow.dhx_popup_arrow_left {
	width: 16px;
	height: 19px;
	background-image: url("../imgs/dhxpopup_skyblue/dhxpopup_arrow_left.gif");
	background-position: center right;
}
div.dhx_popup_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
