/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhtmlxribbon_skin_detect {
	position: absolute;
	left: 0px;
	top: -100px;
	margin: 0;
	padding: 0;
	border: 0px solid white;
	width: 10px;
	height: 10px;
	overflow: hidden;
}
.dhtmlxribbon_dhx_skyblue.dhxrb_without_tabbar {
	background-color: #ffffff;
	border: 1px solid #a4bed4;
}
.dhtmlxribbon_dhx_skyblue {
	overflow: hidden;
	width: 100%;
	background-color: #e7f1ff;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_background_area {
	height: 115px;
	background-color: #e7f1ff;
	margin: 1px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_with_tabbar {
	height: 145px;
}
.dhtmlxribbon_dhx_skyblue div.dhx_cell_tabbar {
	background-color: #e7f1ff !important;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_g_area {
	height: 115px;
	float: left;
	clear: left;
	overflow: hidden;
	position: relative;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_block_base {
	margin: 3px;
	float: left;
	border: 1px solid #a4bed4;
	background-color: #ddebff;
	border-radius: 2px;
	height: 106px;
	overflow: hidden;
	position: relative;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_block_base .dhxrb_block_items {
	height: 84px;
	float: left;
	padding: 2px 0px;
	overflow: hidden;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_block_base>.dhxrb_block_label {
	height: 18px;
	line-height: 17px;
	*height: auto;
	*line-height: 1em;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_block_base .dhxrb_block_label {
	text-align: center;
	clear: left;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: #5f85bb;
	background-color: #d3e7ff;
	*padding: 1px 3px 4px;
	*font-size: 11px;
	*font-family: Tahoma, FreeSans;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_big_button {
	margin: 0pc 2px 5px;
	float: left;
	text-align: center;
	padding: 4px 6px;
	height: 72px;
	border-radius: 2px;
	border: 1px solid #ddebff;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	background-color: #ddebff;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_big_button .dhxrb_image {
	width: 48px;
	height: 48px;
	border: none;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_big_button .dhxrb_label_button {
	margin: 0px auto;
	cursor: default;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	line-height: 10px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_big_button .dhxrb_invisible {
	visibility: hidden;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_block {
	float: left;
	margin: 0px 2px 5px;
	position: relative;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_block .dhxrb_invisible {
	display: none;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_button {
	height: 21px;
	margin: 1px 3px;
	float: left;
	clear: left;
	padding: 3px 4px 0px 4px;
	border-radius: 2px;
	border: 1px solid #ddebff;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	background-color: #ddebff;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_in_row {
	height: 20px;
	margin: 1px 3px;
	float: left;
	padding: 3px 4px 1px;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 2px;
	border: 1px solid #ddebff;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	background-color: #ddebff;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_group .dhxrb_buttoncombo_cont {
	height: 22px;
	padding: 0px 2px !important;
	overflow: hidden;
	white-space: nowrap;
	float: left;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_buttoncombo_cont {
	height: 24px;
	padding: 1px 2px !important;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_buttoncombo {
	float: left;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_in_row .dhxrb_slider,
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_button .dhxrb_slider {
	float: left;
	margin-right: 5px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_in_row center,
.dhtmlxribbon_dhx_skyblue .dhxrb_in_group center,
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_button center {
	float: left;
	margin: 0px;
	padding: 0px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_in_group .dhxrb_slider {
	float: left;
	margin-right: 5px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_big_button .dhxrb_slider {
	width: 16px;
	margin: 2px 0px;
	height: 50px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_in_group {
	height: 19px;
	float: left;
	padding: 2px 4px 1px;
	border: 1px solid #ffffff;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_input {
	float: left;
	border: 1px solid #a4bed4;
	height: 14px;
	width: 80px;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
	padding: 1px 2px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_input:disabled {
	border: 1px solid #cccccc;
	background-color: #fafafa;
	color: #b2b2b2;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_button .dhxrb_image,
.dhtmlxribbon_dhx_skyblue .dhxrb_in_row .dhxrb_image,
.dhtmlxribbon_dhx_skyblue .dhxrb_in_group .dhxrb_image {
	width: 18px;
	height: 18px;
	float: left;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_button .dhxrb_label_button,
.dhtmlxribbon_dhx_skyblue .dhxrb_in_row .dhxrb_label_button,
.dhtmlxribbon_dhx_skyblue .dhxrb_in_group .dhxrb_label_button {
	float: left;
	cursor: default;
	margin: 2px 4px 2px 6px;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_buttoncombo_cont .dhxrb_label_button {
	float: left;
	margin-left: 3px;
	height: 18px;
	line-height: 18px;
	cursor: default;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_label_checkbox {
	float: left;
	margin: 2px 4px;
	cursor: default;
	font-family: Tahoma, Helvetica;
	font-size: 11px;
	color: black;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_disable_text_style,
.dhtmlxribbon_dhx_skyblue .dhxrb_item_disable .dhxrb_label_checkbox {
	color: #999999 !important;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_highlight0 {
	border: 1px solid #a4bed4;
	background-color: #f1f7ff;
	background: linear-gradient(#f1f7ff,#e2efff);
	background: -webkit-linear-gradient(#f1f7ff,#e2efff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#f1f7ff,endColorStr=#e2efff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_highlight1 {
	border: 1px solid #a4bed4;
	background-color: #d2e7fe;
	background: linear-gradient(#d2e7fe,#d3e7ff);
	background: -webkit-linear-gradient(#d2e7fe,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d2e7fe,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 3px #afc1d4 inset;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_group .dhxrb_highlight0 {
	border: 1px solid #ddedff;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_group .dhxrb_highlight1 {
	background-color: #d2e7fe;
	background: linear-gradient(#d2e7fe,#d3e7ff);
	background: -webkit-linear-gradient(#d2e7fe,#d3e7ff);
	filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#d2e7fe,endColorStr=#d3e7ff) progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	box-shadow: 0 0 3px #afc1d4 inset;
	border: 0px;
	padding: 3px 5px 2px 5px;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_item_hide {
	display: none !important;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_block_rows {
	float: left;
	position: relative;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_block_row {
	float: left;
	clear: left;
	margin: 0px 2px;
	height: 28px;
	overflow: hidden;
	position: relative;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_arrow {
	padding: 0px 5px;
	margin-left: 2px;
	background: url("../imgs/dhxribbon_skyblue/dhxribbon_arrow.gif") no-repeat 50%;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_block .dhxrb_group {
	border: 1px solid #a4bed4;
	background: #e7f1ff;
	height: 24px;
	border-radius: 2px;
	float: left;
	clear: left;
	margin: 1px 3px;
	overflow: hidden;
	position: relative;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_block_row .dhxrb_group {
	border: 1px solid #a4bed4;
	background: #e7f1ff;
	height: 24px;
	border-radius: 2px;
	float: left;
	margin: 1px 3px;
	overflow: hidden;
	position: relative;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_in_group .dhxrb_label_hide {
	display: none;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_separator_groupp {
	height: 24px;
	width: 0;
	border-left: 1px solid #c4deff;
	overflow: hidden;
	float: left;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_checked.dhxrb_item_disable>.dhxrb_checkbox {
	background-image: url("../imgs/dhxribbon_skyblue/dhxribbon_checked_dis.gif");
	background-repeat: no-repeat;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_checked .dhxrb_checkbox {
	background-image: url("../imgs/dhxribbon_skyblue/dhxribbon_checked.gif");
	background-repeat: no-repeat;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_item_disable .dhxrb_checkbox {
	border: 1px solid #aaaaaa;
	background-color: #eeeeee;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_checkbox {
	border: 1px solid #a4bed4;
	background-color: #ffffff;
	float: left;
	width: 12px;
	height: 12px;
	margin-top: 2px;
	overflow: hidden;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_item_text {
	font-family: Tahoma, Helvetica;
	font-size: 13px;
	color: #256488;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_in_group .dhxrb_item_text {
	height: 19px;
	line-height: 18px;
	*float: left;
	*clear: left;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_3rows_button .dhxrb_item_text,
.dhtmlxribbon_dhx_skyblue .dhxrb_in_row .dhxrb_item_text {
	font-family: Tahoma, Helvetica;
	font-size: 14px;
	color: #256488;
}
.dhtmlxribbon_dhx_skyblue .dhxrb_big_button .dhxrb_item_text {
	font-family: Tahoma, Helvetica;
	font-size: 30px;
	color: #256488;
	line-height: 72px;
	height: 72px;
	float: left;
	clear: left;
}
