/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_skyblue.less */

.dhtmlx_message_area {
	position: fixed;
	right: 5px;
	width: 250px;
	z-index: 1000;
	padding: 0px 0px;
}
.dhtmlx-info {
	color: #444;
	border-radius: 4px;
	min-width: 120px;
	padding: 10px 10px 10px 20px;
	background-color: #FFFFCC;
	font-size: 12px;
	font-family: Tahoma;
	z-index: 10000;
	margin: 0px 5px 5px 5px;
	border: 1px solid #d3d3d3;
	box-shadow: 0px 0px 5px #ccc;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.dhtmlx-info.hidden {
	height: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
.dhtmlx-error {
	background-color: #f17373;
	color: #fff;
}
.dhtmlx_modal_box {
	overflow: hidden;
	display: inline-block;
	min-width: 300px;
	width: 300px;
	text-align: center;
	position: fixed;
	background-color: #fff;
	z-index: 20000;
	-moz-box-shadow: 0px 0px 5px #AAAAAA;
	-webkit-box-shadow: 0px 0px 0px #AAAAAA;
	box-shadow: 0px 0px 5px #AAAAAA;
	border: 1px solid #a4bed4;
	border-radius: 6px;
}
.dhtmlx_popup_title {
	padding: 5px 0;
	font-size: 12px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-radius-top-right: 6px;
	line-height: 16px;
	font-family: Tahoma;
	font-weight: bold;
}
.dhtmlx-info,
.dhtmlx_popup_title,
.dhtmlx_popup_button {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-moz-user-select: -moz-none;
	cursor: pointer;
}
.dhtmlx_popup_text {
	font-size: 13px;
	font-family: Tahoma;
	color: #444;
	min-height: 30px;
	padding: 20px 10px 10px 10px !important;
	overflow: hidden;
}
.dhtmlx_popup_controls {
	font-family: Tahoma;
	font-weight: bold;
	padding: 10px 10px 17px 10px !important;
}
.dhtmlx_popup_button {
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;
	min-width: 120px;
	width: 120px;
	height: 20px;
	display: inline-block;
	margin: 0 5px;
	border-radius: 4px;
}
.dhtmlx_popup_button div {
	line-height: 20px;
}
div.dhx_modal_cover {
	background-color: #000;
	cursor: default;
	opacity: 0.2;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	position: fixed;
	z-index: 19999;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border: none;
	zoom: 1;
}
.dhtmlx_popup_button {
	color: #2e3947;
	text-shadow: 0 1px 0 #ffffff;
	border: 1px solid #a4bed4;
	background-color: #d5e6fc;
	background-image: -moz-linear-gradient(center bottom,#e1eeff 0%,#cce2fe 12%,#ecf2f7 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.00,#ecf2f7),color-stop(0.88,#cce2fe),color-stop(1.00,#e1eeff));
	background: -o-linear-gradient(top,#e1eeff,#cce2fe 12%,#ecf2f7);
	background: linear-gradient(top,#e1eeff,#cce2fe 12%,#ecf2f7);
	background: -ms-linear-gradient(top,#e1eeff 0%,#cce2fe 12%,#ecf2f7 100%);
}
.dhtmlx_popup_button:active,
.dhtmlx_popup_button:focus {
	box-shadow: inset 0 0 2px #aaaaaa;
	background: #bdd9fc;
	background: -moz-linear-gradient(top,#C4DDFF 0%,#bdd9fc 88%,#deeaf4 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#C4DDFF),color-stop(88%,#bdd9fc),color-stop(100%,#deeaf4));
	background: -o-linear-gradient(top,#C4DDFF 0%,#bdd9fc 88%,#deeaf4 100%);
	background: -ms-linear-gradient(top,#C4DDFF 0%,#bdd9fc 88%,#deeaf4 100%);
	background: linear-gradient(top,#C4DDFF 0%,#bdd9fc 88%,#deeaf4 100%);
}
.dhtmlx_popup_title {
	box-shadow: inset 0 0 2px #ffffff;
	display: block;
}
.dhtmlx-alert-error .dhtmlx_popup_title,
.dhtmlx-confirm-error .dhtmlx_popup_title {
	color: white;
	border: 1px solid #f17373;
	background: #f17373;
	background: -webkit-linear-gradient(top,#ff7c7c,#f17373 88%,#ff7361);
	background: -moz-linear-gradient(top,#ff7c7c,#f17373 88%,#ff7361);
	background: -o-linear-gradient(top,#ff7c7c,#f17373 88%,#ff7361);
	background: linear-gradient(top,#ff7c7c,#f17373 88%,#ff7361);
	background: -ms-linear-gradient(top,#ff7c7c 0%,#f17373 88%,#ffbc75 100%);
}
.dhtmlx-alert-error.dhtmlx_modal_box,
.dhtmlx-confirm-error.dhtmlx_modal_box {
	border: 1px solid #f17373;
}
.dhtmlx-alert-warning .dhtmlx_popup_title,
.dhtmlx-confirm-warning .dhtmlx_popup_title {
	color: #000;
	border: 1px solid #d2b07f;
	background: #ff9f37;
	background: -webkit-linear-gradient(top,#ffc786,#ff9523 88%,#ffbc75);
	background: -moz-linear-gradient(top,#ffc786,#ff9523 88%,#ffbc75);
	background: -o-linear-gradient(top,#ffc786,#ff9523 88%,#ffbc75);
	background: linear-gradient(top,#ffc786,#ff9523 88%,#ffbc75);
	background: -ms-linear-gradient(top,#ffc786 0%,#ff9523 88%,#ffbc75 100%);
}
.dhtmlx-alert-warning .dhtmlx_popup_controls,
.dhtmlx-confirm-warning .dhtmlx_popup_controls {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 1px 1px;
}
.dhtmlx-alert-warning .dhtmlx_popup_text,
.dhtmlx-confirm-warning .dhtmlx_popup_text {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 0 1px;
}
.dhtmlx-alert .dhtmlx_popup_title,
.dhtmlx-confirm .dhtmlx_popup_title {
	color: #000;
	border: 1px solid #a4bed4;
	background: #d5e6fc;
	background: -moz-linear-gradient(center bottom,#e1eeff 0%,#cce2fe 12%,#ecf2f7 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.00,#ecf2f7),color-stop(0.88,#cce2fe),color-stop(1.00,#e1eeff));
	background: -o-linear-gradient(top,#e1eeff,#cce2fe 12%,#ecf2f7);
	background: linear-gradient(top,#e1eeff,#cce2fe 12%,#ecf2f7);
	background: -ms-linear-gradient(top,#e1eeff 0%,#cce2fe 12%,#ecf2f7 100%);
}
.dhtmlx-alert .dhtmlx_popup_controls,
.dhtmlx-confirm .dhtmlx_popup_controls {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 1px 1px;
}
.dhtmlx-alert .dhtmlx_popup_text,
.dhtmlx-confirm .dhtmlx_popup_text {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 0 1px;
}
