/*
Product Name: dhtmlxSuite 
Version: 4.3 
Edition: Standard 
License: content of this file is covered by GPL. Usage outside GPL terms is prohibited. To obtain Commercial or Enterprise license contact sales@dhtmlx.com
Copyright UAB Dinamenta http://www.dhtmlx.com
*/

/* skin detected, extra file: skins/dhx_web.less */

.dhtmlx_message_area {
	position: fixed;
	right: 5px;
	width: 250px;
	z-index: 1000;
	padding: 0px 0px;
}
.dhtmlx-info {
	color: #444;
	border-radius: 0px;
	min-width: 120px;
	padding: 10px 10px 10px 20px;
	background-color: #FFFFCC;
	font-size: 12px;
	font-family: Tahoma;
	z-index: 10000;
	margin: 0px 5px 5px 5px;
	border: 1px solid #d3d3d3;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.dhtmlx-error {
	background-color: #f17373;
	color: #fff;
}
.dhtmlx-info.hidden {
	height: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	border-width: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}
.dhtmlx_modal_box {
	overflow: hidden;
	display: inline-block;
	min-width: 300px;
	width: 300px;
	text-align: center;
	position: fixed;
	z-index: 20000;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 5px #AAAAAA;
	-webkit-box-shadow: 0px 0px 0px #AAAAAA;
	box-shadow: 0px 0px 5px #AAAAAA;
	border: 1px solid #6e95ad;
}
.dhtmlx_popup_title {
	padding: 8px 0;
	line-height: 16px;
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}
.dhtmlx-info,
.dhtmlx_popup_title,
.dhtmlx_popup_button {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-moz-user-select: -moz-none;
	cursor: pointer;
}
.dhtmlx_popup_text {
	font-size: 13px;
	font-family: Tahoma;
	color: #444;
	min-height: 30px;
	padding: 20px 10px 10px 10px !important;
	overflow: hidden;
}
.dhtmlx_popup_controls {
	font-family: Tahoma;
	padding: 10px 10px 15px 10px !important;
}
.dhtmlx_popup_button {
	font-family: Trebuchet MS;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	min-width: 120px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	margin: 0 5px;
	border-radius: 0px;
}
.dhtmlx_popup_button div {
	line-height: 30px;
}
div.dhx_modal_cover {
	background-color: #000;
	cursor: default;
	opacity: 0.2;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
	position: fixed;
	z-index: 19999;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border: none;
	zoom: 1;
}
.dhtmlx_popup_button {
	color: #ffffff;
	letter-spacing: 1px;
	background-color: #6e95ad;
}
.dhtmlx_popup_button:active,
.dhtmlx_popup_button:focus {
	background-color: #50778f;
}
.dhtmlx-alert-error,
.dhtmlx-confirm-error {
	border: 1px solid #f17373;
}
.dhtmlx-alert-error .dhtmlx_popup_title,
.dhtmlx-confirm-error .dhtmlx_popup_title {
	color: #ffffff;
	background-color: #f17373;
}
.dhtmlx-alert-warning .dhtmlx_popup_title,
.dhtmlx-confirm-warning .dhtmlx_popup_title {
	color: #000000;
	border: 1px solid #d7d2cc;
	background-color: #ff9f37;
}
.dhtmlx-alert-warning .dhtmlx_popup_controls,
.dhtmlx-confirm-warning .dhtmlx_popup_controls {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 1px 1px;
}
.dhtmlx-alert-warning .dhtmlx_popup_text,
.dhtmlx-confirm-warning .dhtmlx_popup_text {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 0 1px;
}
.dhtmlx-alert .dhtmlx_popup_title,
.dhtmlx-confirm .dhtmlx_popup_title {
	color: #ffffff;
	border: 1px solid #6e95ad;
	background-color: #6e95ad;
}
.dhtmlx-alert .dhtmlx_popup_controls,
.dhtmlx-confirm .dhtmlx_popup_controls {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 1px 1px;
}
.dhtmlx-alert .dhtmlx_popup_text,
.dhtmlx-confirm .dhtmlx_popup_text {
	border: 1px solid #d5d5d5;
	border-width: 0 1px 0 1px;
}
